AI content automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Shorts Automatización",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL del vídeo"
            },
            {
              "fieldLabel": "Cuántos shorts quieres?",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1904,
        480
      ],
      "id": "644e473d-305b-4433-b1e4-148ddadde474",
      "name": "On form submission",
      "webhookId": "ed12292a-dcbb-42f7-bf92-68eb93fb6683"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klap.app/v2/tasks/video-to-shorts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_video_url\": \"{{ $json['URL del vídeo'] }}\",\n  \"language\": \"es\",\n  \"target_clip_count\": {{ $json['Cuántos shorts quieres?'] }},\n  \"max_clip_count\": {{ $json['Cuántos shorts quieres?'] }},\n  \"editing_options\": {\n    \"captions\": true,\n    \"reframe\": true,\n    \"emojis\": true,\n    \"remove_silences\": true,\n    \"intro_title\": false\n  },\n  \"min_duration\": 15,\n  \"max_duration\": 60,\n  \"target_duration\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        480
      ],
      "id": "075f31f9-a171-4f3b-911c-467cd4dcad20",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/tasks/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        480
      ],
      "id": "8f506828-c921-4c66-86a9-83cb046a6d27",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e79980a-5f10-41a7-99fe-cd513cdf1b35",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1280,
        480
      ],
      "id": "6ea04b41-a580-4cc3-96f1-2866ea350bdb",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1136,
        624
      ],
      "id": "e2f18676-0386-423b-b6ad-ebdf30418c87",
      "name": "Wait",
      "webhookId": "6eac54f0-7972-4e8e-b540-04eea478060f"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/projects/{{ $json.output_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        384
      ],
      "id": "00d7fefa-760d-4c23-8936-b04e975b7769",
      "name": "Coger ideas para shorts"
    },
    {
      "parameters": {
        "content": "## Análisis de los vídeos\n",
        "height": 384,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        272
      ],
      "typeVersion": 1,
      "id": "34f831db-bf43-46d3-92e8-d6161195a41e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.klap.app/v2/projects/{{ $('HTTP Request1').item.json.output_id }}/{{ $json.id}}/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        384
      ],
      "id": "fae8468c-01d0-4d69-a96a-3ba2635df263",
      "name": "Crear vídeo con calidad"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/projects/{{ $('If').item.json.output_id}}/{{ $('Coger ideas para shorts').item.json.id }}/exports/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        384
      ],
      "id": "5f1d7c43-6390-4a32-aff1-dafb10153261",
      "name": "Coger vídeo para publicar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64133024-64f7-4ef8-90c4-57bc0f8d9ffe",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        384
      ],
      "id": "b657582f-4169-4dab-acd8-f9914ae8f4fd",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -352,
        544
      ],
      "id": "44c7e561-27dc-4fe7-ab37-9d007fa8af23",
      "name": "Wait1",
      "webhookId": "85730fef-8083-42b3-b018-1cce43de8521"
    },
    {
      "parameters": {
        "content": "##Crear vídeos\n",
        "height": 432,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        176
      ],
      "typeVersion": 1,
      "id": "bc15963c-94dd-4d9d-9b87-67d37333ee49",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.src_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        288
      ],
      "id": "10cd3c34-0490-4854-b18c-2a8afdb09d57",
      "name": "Cambiar link a Blotato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"3124\",\n    \"content\": {\n      \"text\": \"{{ $('Coger ideas para shorts').item.json.publication_captions.tiktok }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"tiktok\"\n    },\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"disabledComments\": false,\n      \"disabledDuet\": false,\n      \"disabledStitch\": false,\n      \"isBrandedContent\": false,\n      \"isYourBrand\": true,\n      \"isAiGenerated\": false\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "ef7c8c01-fc84-4c6d-b39e-9555d1403aab",
      "name": "Tik Tok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"3124\",\n    \"content\": {\n      \"text\": \"{{ $('Coger ideas para shorts').item.json.publication_captions.tiktok }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"instagram\"\n    },\n    \"target\": {\n      \"targetType\": \"instagram\",\n      \"mediaType\": \"reel\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        160
      ],
      "id": "714a47e4-78ac-4db5-b67d-bfab1f96fd69",
      "name": "Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"3124\",\n    \"content\": {\n      \"text\": \"{{ $('Coger ideas para shorts').item.json.publication_captions.tiktok }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"youtube\"\n    },\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Coger ideas para shorts').item.json.publication_captions.tiktok }}\",\n      \"privacyStatus\": \"public\"\n      \"shouldNotifySubscribers\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        368
      ],
      "id": "2de25478-de12-4564-8e0c-bbcba41495d6",
      "name": "YouTube"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "URL del vídeo": "https://youtu.be/n4lI8KE_XpM?si=RCDPS9vnVDVLoZyl",
          "Cuántos shorts quieres?": 2,
          "submittedAt": "2025-08-20T11:44:17.297+02:00",
          "formMode": "test"
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "id": "bStpqYt0beJMpGEc",
          "type": "video-to-shorts",
          "status": "processing",
          "error_code": null,
          "created_at": "2025-08-20T09:47:09.909Z",
          "output_type": "folder",
          "output_id": "qyCIgiLF"
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "id": "bStpqYt0beJMpGEc",
          "type": "video-to-shorts",
          "status": "ready",
          "error_code": null,
          "created_at": "2025-08-20T09:47:09.909Z",
          "output_type": "folder",
          "output_id": "qyCIgiLF"
        }
      }
    ],
    "Coger ideas para shorts": [
      {
        "json": {
          "id": "lnbMJwhnx2lY",
          "author_id": "8d321be3-ab90-46a4-a8ab-9b42a09094c6",
          "folder_id": "qyCIgiLF",
          "name": "Automatización en hospitales: un nicho lucrativo",
          "created_at": "2025-08-20T09:53:51.875+00:00",
          "updated_at": "2025-08-20T09:53:51.875+00:00",
          "virality_score": 85,
          "virality_score_explanation": "El video aborda un tema relevante y lucrativo como la automatización en hospitales, lo que puede captar la atención de profesionales y emprendedores. La mención de ganancias significativas y la posibilidad de resolver un problema real (la gestión de datos) añade un atractivo adicional. Sin embargo, la duración y el formato podrían limitar su alcance, aunque el contenido es informativo y tiene potencial para generar interés.",
          "publication_captions": {
            "tiktok": "💰 ¡Automatización en hospitales = $$$! ¿Listos para el éxito? 🤔 #Emprendimiento #Salud",
            "youtube": "💰 ¡Automatiza hospitales y gana a lo grande! ¿Te atreves? 🤔 #Negocios #Salud",
            "linkedin": "💰 ¡Automatiza hospitales y gana! ¿Te atreves a entrar en este lucrativo nicho? 🤔 #Negocios #Automatización",
            "instagram": "¿Quieres saber cómo hacer $$$ en hospitales? 🤔💰 ¡Descúbrelo aquí! #Automatización #DineroFácil"
          },
          "transcript_text": "pero sé también de amigos están haciendo mucho mucho dinero con él por la capacidad económica que tienen y lo grande que son son los hospitales o centros de salud normalmente estos estarán con muchas bases de datos Y necesitan automatizaciones para poder mover estos datos de un lado a otro. Porque si no, dirán a muchos asistentes, recepcionistas, haciendo ese trabajo. Tú imagínate el valor que tiene para ellos una simple automatización de Make o de N8N que pueda mover los datos de una base a otra. Completamente. Conozco a mucha gente que está haciendo mucho dinero con tratos de más de 5 cifras. Entonces, imaginaros."
        }
      },
      {
        "json": {
          "id": "689tIMgEgOsX",
          "author_id": "8d321be3-ab90-46a4-a8ab-9b42a09094c6",
          "folder_id": "qyCIgiLF",
          "name": "Oportunidades de negocio en la automatización para agentes inmobiliarios",
          "created_at": "2025-08-20T09:54:07.965+00:00",
          "updated_at": "2025-08-20T09:54:07.965+00:00",
          "virality_score": 85,
          "virality_score_explanation": "El video tiene un tema relevante y actual sobre la automatización en el sector inmobiliario, lo que puede atraer a una audiencia interesada en negocios y tecnología. La experiencia personal del hablante añade credibilidad y puede generar confianza. Además, el ejemplo concreto de la venta de un chatbot por 1000 euros es impactante y puede motivar a otros a explorar oportunidades similares. Sin embargo, la duración y el ritmo podrían mejorarse para mantener la atención del espectador durante todo el video.",
          "publication_captions": {
            "tiktok": "🚀 ¡Descubre cómo los agentes inmobiliarios pueden ganar con automatización! 💰🤖 ¿Te atreverías? #Inmobiliaria #Automatización",
            "youtube": "💰 ¿Listo para revolucionar el negocio inmobiliario? 🤖 ¡Descubre cómo! #Automatización #Inmobiliaria",
            "linkedin": "🚀 ¿Listo para llevar tu agencia inmobiliaria al siguiente nivel? 💰🤖 ¡Descubre cómo! #Inmobiliaria #Automatización",
            "instagram": "¿Listo para revolucionar el negocio inmobiliario? 🚀💰 ¡Descubre cómo! #Automatización #Inmuebles"
          },
          "transcript_text": "que tiene su propia agencia de automatización mediante inteligencia artificial y que la empezó en verano de 2023 más o menos ya casi hace dos años cuando todo estaba saliendo todavía en estados unidos y era muy novedoso en general así que puedo decirte que tengo experiencia ya he tenido llamadas con distintos nichos de venta principalmente y que sé que funciona y que no sigamos con el primero el más obvio de todos sin lugar a duda son los agentes inmobiliarios Es probablemente el que más potencial tiene al que puedas vender. Puedes vender por mucho dinero y con servicios pequeños. Yo hace un par de días vendí un chatbot a un agente inmobiliario de México por 1000 euros. Un chatbot. Que eso se enseñaba en 2024, hace un año. Y..."
        }
      }
    ],
    "Crear vídeo con calidad": [
      {
        "json": {
          "id": "bfc98044-f515-4c06-829e-bd47d075c024",
          "status": "processing",
          "src_url": null,
          "estimated_ready_at": "2025-08-20T10:02:03.632Z",
          "project_id": "lnbMJwhnx2lY",
          "created_at": "2025-08-20T10:01:19.632Z",
          "name": "Automatización en hospitales: un nicho lucrativo",
          "author_id": "8d321be3-ab90-46a4-a8ab-9b42a09094c6",
          "folder_id": "qyCIgiLF",
          "descriptions": null
        }
      },
      {
        "json": {
          "id": "5b51446d-c388-4502-b031-764f5507059d",
          "status": "processing",
          "src_url": null,
          "estimated_ready_at": "2025-08-20T10:02:12.637Z",
          "project_id": "689tIMgEgOsX",
          "created_at": "2025-08-20T10:01:19.637Z",
          "name": "Oportunidades de negocio en la automatización para agentes inmobiliarios",
          "author_id": "8d321be3-ab90-46a4-a8ab-9b42a09094c6",
          "folder_id": "qyCIgiLF",
          "descriptions": null
        }
      }
    ],
    "Coger vídeo para publicar": [
      {
        "json": {
          "id": "bfc98044-f515-4c06-829e-bd47d075c024",
          "status": "ready",
          "src_url": "https://storage.googleapis.com/klap-renders/BpaIX1z2ZsiTcnO2.mp4",
          "estimated_ready_at": "2025-08-20T10:02:03.632Z",
          "project_id": "lnbMJwhnx2lY",
          "created_at": "2025-08-20T10:01:19.632Z",
          "finished_at": "2025-08-20T10:02:03.771Z",
          "name": "Automatización en hospitales: un nicho lucrativo",
          "author_id": "8d321be3-ab90-46a4-a8ab-9b42a09094c6",
          "folder_id": "qyCIgiLF",
          "descriptions": null
        }
      },
      {
        "json": {
          "id": "5b51446d-c388-4502-b031-764f5507059d",
          "status": "ready",
          "src_url": "https://storage.googleapis.com/klap-renders/ToIZcqRoSwbBMXqf.mp4",
          "estimated_ready_at": "2025-08-20T10:02:12.637Z",
          "project_id": "689tIMgEgOsX",
          "created_at": "2025-08-20T10:01:19.637Z",
          "finished_at": "2025-08-20T10:02:14.190Z",
          "name": "Oportunidades de negocio en la automatización para agentes inmobiliarios",
          "author_id": "8d321be3-ab90-46a4-a8ab-9b42a09094c6",
          "folder_id": "qyCIgiLF",
          "descriptions": null
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Coger ideas para shorts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coger ideas para shorts": {
      "main": [
        [
          {
            "node": "Crear vídeo con calidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear vídeo con calidad": {
      "main": [
        [
          {
            "node": "Coger vídeo para publicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coger vídeo para publicar": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Cambiar link a Blotato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Coger vídeo para publicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambiar link a Blotato": {
      "main": [
        [
          {
            "node": "Tik Tok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "422a6252-9cb7-4263-9a39-c12d94981043",
  "meta": {
    "instanceId": "12b301419fc0e324ae22cfe51d5c170ef985db1bbac0af839c6e9d286a0a4791"
  },
  "id": "PpOK35zBSJMzBSQN",
  "tags": []
}