n8n-workflows/ai-email-management-workflow.json
{"name":"AI Email Management System","nodes":[{"parameters":{"resource":"message","operation":"watch","labelIds":["INBOX"],"includeBody":true},"name":"Watch Emails","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[200,300],"credentials":{"gmailOAuth2":{"id":"__YOUR_GMAIL_CREDENTIAL_ID__"}}},{"parameters":{"authentication":"oAuth2","sheetId":"__YOUR_SHEET_ID__","range":"Sheet1!A:L","options":{}},"name":"Log to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[400,300],"credentials":{"googleSheetsOAuth2Api":{"id":"__YOUR_GOOGLE_SHEETS_CREDENTIAL_ID__"}}},{"parameters":{"resource":"chat","model":"gpt-3.5-turbo","messages":[{"role":"system","content":"You are a helpful AI assistant for customer service email classification."},{"role":"user","content":"Email:\n{{ $json.body }}\n\nReturn JSON with fields: summary, tone, intent, replyOptions (3)."}]},"name":"Analyze Email","type":"n8n-nodes-base.openai","typeVersion":4,"position":[600,300],"credentials":{"openAiApi":{"id":"__YOUR_OPENAI_CREDENTIAL_ID__"}}},{"parameters":{"authentication":"oAuth2","sheetId":"__YOUR_SHEET_ID__","range":"Sheet1!E:J","valueInputMode":"RAW","options":{}},"name":"Write AI Results","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[800,300],"credentials":{"googleSheetsOAuth2Api":{"id":"__YOUR_GOOGLE_SHEETS_CREDENTIAL_ID__"}}},{"parameters":{"authentication":"oAuth2","sheetId":"__YOUR_SHEET_ID__","range":"Sheet1!K2:L1000","options":{}},"name":"Check for Reply","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1000,300],"credentials":{"googleSheetsOAuth2Api":{"id":"__YOUR_GOOGLE_SHEETS_CREDENTIAL_ID__"}}},{"parameters":{"resource":"message","operation":"send","to":"={{ $json[\"Sender Email\"] }}","subject":"Re: Your Inquiry","message":"={{ $json[\"Selected Reply\"] }}"},"name":"Send Reply","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[1200,300],"credentials":{"gmailOAuth2":{"id":"__YOUR_GMAIL_CREDENTIAL_ID__"}}},{"parameters":{"authentication":"oAuth2","sheetId":"__YOUR_SHEET_ID__","range":"Sheet1!L2:L1000","valueInputMode":"RAW","options":{}},"name":"Mark as Sent","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1400,300],"credentials":{"googleSheetsOAuth2Api":{"id":"__YOUR_GOOGLE_SHEETS_CREDENTIAL_ID__"}}}],"connections":{"Watch Emails":{"main":[[{"node":"Log to Sheet","type":"main","index":0}]]},"Log to Sheet":{"main":[[{"node":"Analyze Email","type":"main","index":0}]]},"Analyze Email":{"main":[[{"node":"Write AI Results","type":"main","index":0}]]},"Write AI Results":{"main":[[{"node":"Check for Reply","type":"main","index":0}]]},"Check for Reply":{"main":[[{"node":"Send Reply","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"Mark as Sent","type":"main","index":0}]]}},"active":false}