n8n-workflows/Content Creation System.json
{
  "name": "joshua and brad",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        140,
        760
      ],
      "id": "5417b9b6-77e9-4966-82e2-380db83e7738",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 1 viral TikTok video concept for Veo3 FAL-AI focused on [SPECIFIC TIME MANAGEMENT/SYSTEM TOPIC]. Create a visually stunning scene with no humans, emphasizing transformation and satisfying organization moments. Format as JSON array with all technical specifications.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Professional Veo3 Video Idea Generator - Time Management & Systems\n\n## USER INPUT PROMPT:\n\"Generate 1 viral TikTok video concept for Veo3 focused on [SPECIFIC TIME MANAGEMENT/PRODUCTIVITY TOPIC]. Create a visually stunning transformation scene with no humans that emphasizes satisfying organization moments. Output as JSON array ready for production.\"\n\n---\n\nYou are a master video concept strategist specializing in creating viral TikTok ideas for Veo3 generation through FAL-AI. You focus exclusively on Time Management and System Processing topics that convert viewers into productivity enthusiasts and generate millions of views.\n\n## CORE FOCUS AREAS:\n**Time Management & Productivity Only:**\n- Workflow optimization, time blocking systems, automation strategies\n- Digital organization, process improvement, efficiency methodologies  \n- Planning frameworks, habit formation, systematic thinking approaches\n- Productivity tools, scheduling techniques, performance optimization\n\n## VIDEO CONCEPT REQUIREMENTS:\n\n**Visual Concept Rules:**\n- Under 15 words maximum for concept description\n- Visually striking scenes with immediate impact\n- TikTok viral potential with strong aesthetic appeal\n- Surreal yet believable productivity metaphors\n- NO HUMANS - only objects, systems, abstract elements\n\n**Transformation Focus:**\n- Satisfying before/after sequences (chaos to order)\n- Smooth organizational flows (scattered to systematic)\n- Precision mechanics (clockwork efficiency)\n- Digital materializations (data becoming organized)\n\n**Technical Excellence:**\n- Duration: 5-15 seconds (optimal TikTok length)\n- Aspect ratio: 9:16 (vertical mobile format)\n- Instant visual hook within first 2 seconds\n- Clear focal point with supporting visual hierarchy\n\n## ADVANCED VISUAL ELEMENTS:\n\n**Camera Dynamics:**\n- Smooth gimbal tracking shots\n- Dramatic zoom reveals (macro to wide)\n- Rotating orbital movements\n- Precise focus transitions\n- Cinematic panning sequences\n\n**Lighting Mastery:**\n- Golden hour warmth for inspiration\n- Neon glow for digital themes\n- Dramatic shadows for depth\n- Soft ambient for calm productivity\n- Rim lighting for object separation\n\n**Color Psychology:**\n- Productivity blues (trust, efficiency)\n- Success greens (growth, balance)\n- Energy oranges (motivation, action)\n- Premium whites (clarity, focus)\n- Accent golds (achievement, value)\n\n**Material Textures:**\n- Sleek glass interfaces\n- Brushed metal precision\n- Organic paper flows\n- Glowing digital elements\n- Matte geometric shapes\n\n## VIRAL TRANSFORMATION CONCEPTS:\n\n**Mechanical Precision:**\n- Clockwork gears built from calendar pages\n- To-do lists forming intricate machinery\n- Time blocks clicking into architectural structures\n\n**Digital Manifestation:**\n- Holographic dashboards materializing from chaos\n- Data particles organizing into productivity systems\n- Floating interfaces aligning with mathematical precision\n\n**Organic Flow:**\n- Time streams flowing into organized channels\n- Task elements growing like crystalline structures\n- Workflow diagrams blooming like synchronized flowers\n\n**Geometric Satisfaction:**\n- Scattered elements snapping into perfect grids\n- Puzzle pieces of productivity clicking together\n- Abstract shapes forming systematic patterns\n\n## OUTPUT FORMAT:\n```json\n[\n{\n  \"Title\": \"Viral-ready title under 12 words with emotional hook\",\n  \"Caption\": \"TikTok-optimized caption with emojis and strategic hashtags\",\n  \"Concept\": \"Core visual idea under 15 words with specific transformation\",\n  \"Environment\": \"Detailed setting with lighting and atmosphere under 25 words\",\n  \"Camera_Movement\": \"Specific cinematography directions and transitions under 20 words\",\n  \"Visual_Effects\": \"Colors, textures, materials, and dynamic elements under 20 words\",\n  \"Transformation\": \"Exact before/after change sequence under 15 words\",\n  \"Viral_Hook\": \"First 3-second attention grabber under 10 words\",\n  \"Duration\": \"5-15 seconds\",\n  \"Aspect_Ratio\": \"9:16\",\n  \"Target_Emotion\": \"Specific viewer feeling (satisfaction, motivation, clarity)\",\n  \"Status\": \"ready for production\"\n}]\n```\n\n## HASHTAG STRATEGY:\n**Topic-Relevant (4):** #timemanagement #productivity #systemsthinking #workflow\n**All-Time Popular (4):** #viral #trending #fyp #aesthetic  \n**Currently Trending (4):** Research-based trending tags for maximum reach\n\n## TRENDING VIRAL ELEMENTS:\n- **Satisfying Sequences:** Perfect organization moments that trigger dopamine\n- **Aesthetic Minimalism:** Clean, premium visual appeal\n- **Time Manipulation:** Speed ramping and temporal effects\n- **Geometric Precision:** Mathematical perfection in movements\n- **Luminous Elements:** Glowing, ethereal productivity concepts\n- **Smooth Transitions:** Seamless transformation flows\n- **Macro Details:** Close-up precision shots\n- **Symmetrical Balance:** Visually pleasing compositions\n\n## SUCCESS METRICS FOCUS:\n- **Immediate Hook:** Grabs attention within 2 seconds\n- **Shareability:** Unique enough to screenshot and share\n- **Emotional Trigger:** Creates \"I need this\" feeling\n- **Visual Memory:** Sticks in viewer's mind after watching\n- **Conversion Potential:** Drives viewers to seek productivity solutions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        380,
        760
      ],
      "id": "2d53086f-cab1-4f7b-8900-583c2276b299",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        1100
      ],
      "id": "6bb803df-99db-4e9c-b2bc-a2a1eaff5a1e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vUOIfE7H2H4AhP2b",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n{\n  \"Title\": \"Catchy video title under 12 words\",\n  \"Caption\": \"Viral-friendly caption with emoji and hashtags\",\n  \"Concept\": \"Visual scene description under 15 words\",\n  \"Environment\": \"Detailed setting, lighting, and atmosphere under 25 words\",\n  \"Camera_Movement\": \"Specific camera directions and transitions under 20 words\",\n  \"Visual_Effects\": \"Colors, textures, and dynamic elements under 20 words\",\n  \"Transformation\": \"What changes or evolves during the scene under 15 words\",\n  \"Duration\": \"5-15 seconds\",\n  \"Aspect_Ratio\": \"9:16\",\n  \"Status\": \"ready for production\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        900,
        600
      ],
      "id": "c90b4b26-1a03-4728-b020-35823fed62ff",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "249f7460-fb2f-41dc-91a3-65faf40acfe6",
              "name": "Title",
              "value": "={{ $json.output[0].Title }}",
              "type": "string"
            },
            {
              "id": "a90dbb92-d2df-4e85-b183-74d0db150011",
              "name": "Idea",
              "value": "={{ $json.output[0].Concept }}",
              "type": "string"
            },
            {
              "id": "5f4b5c30-4c96-472f-845d-5777205a2743",
              "name": "Environment",
              "value": "={{ $json.output[0].Environment }}",
              "type": "string"
            },
            {
              "id": "2f360da9-e95d-4d1c-a3a4-18789487504e",
              "name": "Caption",
              "value": "={{ $json.output[0].Caption }}",
              "type": "string"
            },
            {
              "id": "4c459904-2545-41e8-a481-ca998cb08aef",
              "name": "Camera Movement",
              "value": "={{ $json.output[0].Camera_Movement }}",
              "type": "string"
            },
            {
              "id": "797f73ed-5c88-40f5-b28b-e54d9320dd31",
              "name": "Visual Effect",
              "value": "={{ $json.output[0].Visual_Effects }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        780
      ],
      "id": "8afd4d53-60bc-42d1-afd0-0283ff7f6efb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give Veo 3 prompt of this idea:\n {{ $json.Idea }}\nAnd this is the Environment:\n{{ $json.Environment }}",
        "options": {
          "systemMessage": "# Professional Veo3 Video Prompt Generator - Time Management & Productivity\n\nYou are an expert AI agent that writes hyper-realistic, cinematic video prompts for Veo3 specializing in productivity and time management concepts. You create single-paragraph prompts that generate visually stunning, viral-worthy videos with satisfying organizational transformations that captivate TikTok audiences.\n\n## USER INPUT REQUIRED:\nSimply provide your specific productivity topic (e.g., \"morning routine optimization,\" \"digital decluttering,\" \"time blocking system,\" \"workflow automation\")\n\n## REQUIRED PROMPT STRUCTURE:\nGenerate a single paragraph (750-1500 characters) following this exact format:\n\n**[CINEMATIC SCENE DESCRIPTION]** Main subject: **[PRODUCTIVITY ELEMENT]** **[SPECIFIC PHYSICAL ACTION]**, Time of Day: **[LIGHTING CONDITION]**, Lens: **[CAMERA SPECIFICATION]**, Audio: **[AMBIENT SOUNDSCAPE]**, Background: **[ENVIRONMENTAL DETAILS]**.\n\n## MANDATORY ELEMENTS TO INCLUDE:\n1. **Cinematic Scene** - Vivid, engaging opening that sets the visual tone\n2. **Main Subject** - Non-human productivity element (calendars, interfaces, systems)\n3. **Physical Action** - Specific movement or transformation (organizing, flowing, materializing)\n4. **Time of Day** - Precise lighting condition for mood\n5. **Lens** - Technical camera specification with focal length\n6. **Audio** - Implied ambient sounds that enhance the scene\n7. **Background** - Detailed environment description\n\n## STRICT RULES:\n✅ **MUST DO:**\n- Single paragraph format, no line breaks\n- 750-1500 character count\n- Include ALL 7 mandatory elements\n- Focus on productivity/time management themes\n- Create satisfying transformation sequences\n- Use specific, concrete descriptions\n- Maintain cinematic, professional quality\n- Generate TikTok viral-worthy concepts\n\n❌ **NEVER DO:**\n- Include humans or human body parts\n- Use character names or dialogue\n- Break paragraph formatting\n- Add subtitles or on-screen text references\n- Create selfie-style framing\n- Write vague or abstract descriptions\n- Include cameras or recording devices\n- Use multiple main subjects\n- Stray from productivity niche\n\n## PRODUCTIVITY SUBJECT EXAMPLES:\n- **Digital Elements:** Floating calendars, holographic dashboards, glowing task lists, organizing file systems\n- **Mechanical Objects:** Clockwork gears, precision timers, automated planners, systematic organizers\n- **Abstract Concepts:** Time streams, productivity particles, workflow geometries, efficiency visualizations\n- **Office Objects:** Self-organizing notebooks, floating pens arranging themselves, papers sorting automatically\n\n## CINEMATIC SPECIFICATIONS:\n- **Camera Work:** Smooth tracking shots, precise focus pulls, dramatic reveals, macro-to-wide transitions\n- **Lighting:** Golden hour warmth, blue hour calm, dramatic spotlighting, soft ambient glow\n- **Movement:** Fluid transformations, satisfying organization sequences, rhythmic mechanical precision\n- **Audio:** Gentle mechanical whirs, soft digital chimes, ambient office atmosphere, satisfying click sounds\n\n## TECHNICAL LENS OPTIONS:\n- **Macro:** 100mm f/2.8 for detailed close-ups\n- **Portrait:** 85mm f/1.4 for shallow depth of field\n- **Wide:** 24mm f/1.8 for environmental context  \n- **Standard:** 50mm f/1.2 for natural perspective\n- **Telephoto:** 135mm f/2.0 for compressed backgrounds\n\n## OPTIMAL TIMING CONDITIONS:\n- **Golden Hour:** Warm, soft directional light\n- **Blue Hour:** Cool, even ambient lighting\n- **Soft Morning:** Gentle, diffused natural light\n- **Dramatic Evening:** Strong shadows with warm highlights\n- **Overcast Day:** Even, professional lighting"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1040,
        780
      ],
      "id": "d521445e-c305-44de-972c-17c4446de21f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key a8171d6c-01ee-41c0-a500-f96e07473bfc:4d777a7c2b74b8a671df7a24fb21ad2f"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"prompt\": \"{{ $json.output }}\"}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        1220
      ],
      "id": "bb5c5ee8-f6d3-4f3f-9279-6a26e32d7419",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        1220
      ],
      "id": "3601c207-b2ad-41e8-89ce-f31292de7a08",
      "name": "Wait2",
      "webhookId": "2b246443-bf6f-43cb-ae4b-75f5b39e84be"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key a8171d6c-01ee-41c0-a500-f96e07473bfc:4d777a7c2b74b8a671df7a24fb21ad2f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        1220
      ],
      "id": "95a6b05f-49e0-4607-aafd-6bf2a3dd89d3",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        1220
      ],
      "id": "0ccc0b5b-1137-49e8-af29-d0e1974bfb2c",
      "name": "HTTP Request6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b627184-56db-4f7b-85ba-e2bb7664f9cc",
              "name": "Heygen Script",
              "value": "={{ $json.Transcript }}",
              "type": "string"
            },
            {
              "id": "41afc773-ca05-414f-a40e-5d6479025db9",
              "name": "Video Title",
              "value": "={{ $json.Caption }}",
              "type": "string"
            },
            {
              "id": "fc2f7124-7477-4b21-913e-ac0826a23274",
              "name": "Index",
              "value": "={{ $json.ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        1840
      ],
      "id": "b389d602-9ba1-4eac-9237-e42160ae9b49",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        1800
      ],
      "id": "ba18cb33-9426-4c96-a941-fb6558659e24",
      "name": "HTTP Request10",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15d1ec59-3cf9-4eaf-980f-b6e9179bcc9d",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "73ca1afd-dd09-4d18-8b5c-9e6c93c62bfd",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        1800
      ],
      "id": "f108fa9e-7765-4dbd-88c6-2e159f52b126",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "={{ $json.data.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        1720
      ],
      "id": "ad43fff8-05c4-4872-9bc9-f0fb2cc80c0d",
      "name": "HTTP Request11",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "name": "={{ $('Code1').item.json.new_title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1RQBTOj8XFUNDc5mcRCiyv5E-lgVjqzXB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3140,
        1720
      ],
      "id": "a3cbc5de-6885-41b7-b8dd-263ee1aa6422",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdNC34egOcFwenH3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a scriptwriter for short video content.\n\nHere is an existing transcript:\n\"\"\"\n{{ $json[\"Heygen Script\"] }}\n\"\"\"\n\nAnd here is the original video title:\n\"{{ $json[\"Video Title\"] }}\"\n\n---\n\nYour task:\n\n1. Analyze the style, tone, and structure of the transcript.\n2. Summarize the transcript into a compelling new script for a short video (aim for 15–30 seconds).\n3. Make sure the tone and pacing are engaging for short-form platforms (like YouTube Shorts, TikTok, Instagram Reels).\n4. Create a catchy new title that fits the summarized script.\n5. Extract 3–5 relevant keywords from the original title.\n\nImportant:\n- Use the same voice and tone as the original.\n- The output must be 15–30 seconds worth of speech when spoken aloud.\n- Be concise but impactful.\n\nRespond ONLY with raw JSON. Do NOT include markdown code blocks or backticks. Just return:\n{\n  \"new_script\": \"...\",\n  \"new_title\": \"...\",\n  \"keywords_from_original_title\": [\"...\", \"...\", \"...\"]\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        1840
      ],
      "id": "aaebc015-cc41-4918-bbcb-edf8c0009691",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vUOIfE7H2H4AhP2b",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0",
          "mode": "list",
          "cachedResultName": "AI_Video_Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1558568549,
          "mode": "list",
          "cachedResultName": "Apify Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit#gid=1558568549"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        1840
      ],
      "id": "43880b3f-9ae6-4026-89b4-d3fb6d9f9ec1",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "lMhb9r6VYB9Bp9of",
          "name": "Google Sheets Trigger account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the raw content from the assistant's message\nconst rawContent = $json.message?.content;\n\nif (!rawContent) {\n  return {\n    error: 'No content found in message.content'\n  };\n}\n\n// Clean up and parse the stringified JSON\nlet parsed;\ntry {\n  const cleaned = rawContent.replace(/\\\\n/g, '') // remove escaped newlines\n                            .replace(/^```json|```$/g, '') // strip code block wrappers\n                            .trim();\n\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return {\n    error: 'Failed to parse JSON content',\n    raw: rawContent\n  };\n}\n\n// Return parsed object cleanly\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        1860
      ],
      "id": "0466e14e-2951-4e3a-8986-2f2cdb6b17f2",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0",
          "mode": "list",
          "cachedResultName": "AI_Video_Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1558568549,
          "mode": "list",
          "cachedResultName": "Apify Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit#gid=1558568549"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "generated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3360,
        1720
      ],
      "id": "801a0772-0a0a-4eb2-9ed2-f88926419bed",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"caption\": false,\n  \"title\": \"{{ $json['Video Title'] }}\",\n  \"callback_id\": \"\",\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"talking_photo\",\n        \"talking_photo_id\": \"2846dbd80a5d4b02a74f98fcd57e7123\",\n        \"scale\": 1,\n        \"offset\": {\n          \"x\": 0,\n          \"y\": 0\n        },\n        \"matting\": false,\n        \"talking_style\": \"stable\",\n        \"expression\": \"default\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"voice_id\": \"c64475853aab431698b98f2577378e61\",\n        \"input_text\": \"{{ $json.Script }}\",\n        \"speed\": 1,\n        \"pitch\": 0,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#FFFFFF\"\n      },\n      \"text\": {\n        \"type\": \"text\",\n        \"text\": \"\",\n        \"font_family\": \"Arial\",\n        \"font_size\": 24,\n        \"font_weight\": \"bold\",\n        \"color\": \"#000000\",\n        \"position\": {\n          \"x\": 0.5,\n          \"y\": 0.1\n        },\n        \"text_align\": \"center\",\n        \"line_height\": 1.5\n      }\n    }\n  ],\n  \"callback_url\": \"https://your.n8n.webhook/heygen\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        1840
      ],
      "id": "6f4909e3-fbb6-4c00-829b-6c872591b8d9",
      "name": "Generating Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0",
          "mode": "list",
          "cachedResultName": "AI_Video_Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1206600547,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit#gid=1206600547"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "==ROW( )-1",
            "Video Title": "={{ $json.new_title }}",
            "Script": "={{ $json.new_script }}",
            "Keywords": "=#{{ $json.keywords_from_original_title[0] }}#{{ $json.keywords_from_original_title[1] }}#{{ $json.keywords_from_original_title[2] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        1860
      ],
      "id": "135b282f-2822-4996-9fb8-4659ed7a1207",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        2240
      ],
      "id": "4e3be5f8-df25-47d0-abcb-d9c2ae87e284",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/run-sync-get-dataset-items?token=apify_api_eAsAHf0SlEsevruHpcghUtmMhwlTKo10alUe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"excludePinnedPosts\": true,\n    \"maxProfilesPerQuery\": 2,\n    \"profileSorting\": \"latest\",\n    \"profiles\": [\n        \"evancarmichael\"\n    ],\n    \"proxyCountryCode\": \"US\",\n    \"resultsPerPage\": 2,\n    \"scrapeRelatedVideos\": false,\n    \"searchQueries\": [\n        \"business playbook sop\"\n    ],\n    \"shouldDownloadAvatars\": false,\n    \"shouldDownloadCovers\": false,\n    \"shouldDownloadMusicCovers\": false,\n    \"shouldDownloadSlideshowImages\": false,\n    \"shouldDownloadSubtitles\": false,\n    \"shouldDownloadVideos\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        2240
      ],
      "id": "bf521ee6-978e-4487-aad4-8e2599617f0b",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "url": "={{ $json.videoMeta.subtitleLinks[0].downloadLink }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "body"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        2240
      ],
      "id": "ca3a916a-b1dd-463f-8418-19f35987cedd",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const vtt = $json.body; // This is where the VTT text is expected\n\nif (!vtt) {\n\treturn { transcript: null, note: \"no TikTok captions\" };\n}\n\nconst lines = vtt\n\t.split(/\\r?\\n/) // Split into lines\n\t.filter(l => l && !l.match(/^(\\d+|WEBVTT|X-TIMESTAMP|[\\d:\\.]+\\s+-->|\\s*$)/)); // Remove timestamps & metadata\n\nreturn {\n\ttranscript: lines.join(\" \")\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2240
      ],
      "id": "f05997d3-95e1-486d-9fc2-b3342996a950",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0",
          "mode": "list",
          "cachedResultName": "AI_Video_Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1558568549,
          "mode": "list",
          "cachedResultName": "Apify Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit#gid=1558568549"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "==ROW( )-1",
            "Transcript": "={{ $json.transcript }}",
            "Caption": "={{ $('HTTP Request13').item.json.text }}",
            "Video URL": "={{ $('HTTP Request13').item.json.webVideoUrl }}",
            "Status": "pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1640,
        2240
      ],
      "id": "2be56e7e-b33a-4e30-b912-e5e0a84bd0b2",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Blotato-API\": \"blt_2PHN7oimSb5647DYwkri4+7dIBWbaaTWH+rI0ruhG7o=\",\n  \"Instagram\": \"\",\n  \"Pinterest\": \"\",\n  \"Pinterest-Board-id\": \"\",\n  \"X\": \"\",\n  \"LinkedIN\": \"\",\n  \"LinkedIn-page-ID\": \"\",\n  \"Threads\": \"\",\n  \"FB-Account\": \"\",\n  \"FB-Page-Stock-Graphics\": \"\",\n  \"FB-Page-Bundlestorm\": \"\",\n  \"FB-Page-Webmaster-Deals\": \"\",\n  \"FB-Page-Sumobundle\": \"\",\n  \"Fb-Page-Mimozastudio\": \"\",\n  \"Youtube\": \"\",\n  \"tiktok\": \"8037\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        1440
      ],
      "id": "967e79b7-2d43-480d-87d9-4e487605fa8d",
      "name": "Set ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Instagram }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"instagram\"\n    },\n    \"target\": {\n      \"targetType\": \"instagram\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        560
      ],
      "id": "2d090ea1-7275-4adc-a52b-a52ff6174ef5",
      "name": "Instagram",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Pinterest }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\n        \"{{ $('Airtable').item.json['Image url'] }}\"\n      ],\n      \"platform\": \"pinterest\"\n    },\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Set ID').item.json['Pinterest-Board-id'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        2120
      ],
      "id": "6d2d6bf2-9180-47b5-abf4-d4a8d17145e1",
      "name": "Pinterest",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Images only\n**You can upload only images on Pinterest and Bluesky",
        "height": 340,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4020,
        2120
      ],
      "typeVersion": 1,
      "id": "322aab26-59a5-4816-8d54-d10da982be34",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.X }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"twitter\"\n    },\n    \"target\": {\n      \"targetType\": \"twitter\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        740
      ],
      "id": "53ed7403-6fac-434e-8e2e-336eafbf6e24",
      "name": "Twitter",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        940
      ],
      "id": "dd56c0ff-0b3e-4fb9-8c1e-50e68ad1ea7a",
      "name": "LinkedIn",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"Company update for our followers\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\",\n      \"pageId\": \"{{ $('Set ID').item.json['LinkedIn-page-ID'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        1160
      ],
      "id": "dea5c66e-be16-4043-b7bd-e1ae1c3d2ee4",
      "name": "LinkedIn Page",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json['FB-Account'] }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"facebook\"\n    },\n    \"target\": {\n        \"targetType\": \"facebook\",\n        \"pageId\": \"{{ $('Set ID').item.json['FB-Page-Sumobundle'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        1360
      ],
      "id": "c977cea6-b515-4af1-8c33-41f98e9a708d",
      "name": "Fb Account",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.tiktok }}\",\n    \"content\": {\n      \"text\": \"{{ $('Google Sheets3').item.json['Video Title'] }}\",\n      \"mediaUrls\": [\n        \"{{ $('HTTP Request12').item.json.url }}\"\n      ],\n      \"platform\": \"tiktok\"\n    },\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"disabledComments\": false,\n      \"disabledDuet\": false,\n      \"disabledStitch\": false,\n      \"isBrandedContent\": false,\n      \"isYourBrand\": false,\n      \"isAiGenerated\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        1560
      ],
      "id": "55d5b27f-da25-451d-a324-45e86ead1a09",
      "name": "Tiktok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Threads }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"threads\"\n    },\n    \"target\": {\n      \"targetType\": \"threads\",\n      \"replyControl\": \"everyone\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        1920
      ],
      "id": "434592a2-0812-41b9-854b-4dbab67905ab",
      "name": "Threads",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"acc_12345\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"bluesky\"\n    },\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        2340
      ],
      "id": "e09d216d-ed92-4507-a3e5-18472415ad96",
      "name": "Bluesky",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Youtube }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\n        \"{{ $('HTTP Request12').item.json.url }}\"\n      ],\n      \"platform\": \"youtube\"\n    },\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Airtable').item.json.Title }}\",\n      \"privacyStatus\": \"private\",\n      \"shouldNotifySubscribers\": false\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4140,
        1740
      ],
      "id": "77e48c39-4ea8-45ff-986f-c5e67bddcfea",
      "name": "Youtube",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/instagram.png?v=1742473316)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        540
      ],
      "typeVersion": 1,
      "id": "fb8ef9e9-1ad1-4b3a-b719-f1a470ab00b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/x.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        720
      ],
      "typeVersion": 1,
      "id": "6092aad2-7aee-4c62-ac5c-bf010047f479",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        920
      ],
      "typeVersion": 1,
      "id": "a77dab35-9985-48c1-b550-775d2568af36",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        1140
      ],
      "typeVersion": 1,
      "id": "c8e01868-8693-44b4-b44c-621f3f8f8f1c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/facebook.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        1340
      ],
      "typeVersion": 1,
      "id": "9c6152fe-6898-4254-b0d7-258d37aba4e1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/tiktok.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        1540
      ],
      "typeVersion": 1,
      "id": "bd59472a-89c8-4062-b1d3-b6a65b327177",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/youtube.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        1720
      ],
      "typeVersion": 1,
      "id": "3b04caae-6137-4457-8ff2-1a0c9e167923",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/threads.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        1920
      ],
      "typeVersion": 1,
      "id": "bd6f6bda-598d-4264-a8dc-82cd7d780df2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/pinterest.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        2120
      ],
      "typeVersion": 1,
      "id": "8070c8af-ed62-41bc-8b61-b36003d70b89",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/bluesky.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        2320
      ],
      "typeVersion": 1,
      "id": "811d8480-cb45-40fc-b13d-48b7e0841f31",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('HTTP Request11').item.json.data.video_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        1440
      ],
      "id": "2176e98c-03e0-4067-95eb-bfbcbdcb50d0",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1860,
        1840
      ],
      "id": "d9ae01d3-bfcf-44b2-9ed9-6b5a292b9dce",
      "name": "Wait3",
      "webhookId": "71d2662c-4f19-4dff-a019-ead0cdf87155"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "87cce742-2fb8-40e5-b9a3-439904e25329",
      "name": "Trigger: Start Daily Content Generation",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        260,
        -1120
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a creative concept involving:\n\n[[\nA solid, hard material or element being sliced cleanly with a sharp blade. Your response must follow this structure:\n\n\"(Color) (Material) shaped like a (random everyday object)\"\n\nFor inspiration, imagine examples like: obsidian shaped like a chess piece, quartz shaped like a coffee mug, sapphire shaped like a seashell, or titanium shaped like a leaf.\n\n]]\n\nReflect carefully before answering to ensure originality and visual appeal.\n\nUse the Think tool to review your output",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:**  \nYou are an AI designed to generate **one immersive, realistic idea** based on a time management or productivity-related topic. Your output must be formatted as a **single-line JSON array** and follow the rules below exactly.\n\n---\n\n### RULES\n\n1. **Number of ideas**  \n   - Return **only one idea**.\n\n2. **Topic**  \n   - The user will provide a time management keyword (e.g., \"pomodoro timer setup,\" \"morning routine optimization,\" \"digital declutter,\" \"productivity workspace,\" \"time blocking methods\").\n\n3. **Idea**  \n   - Maximum 13 words.  \n   - Describe a viral-worthy, original, or transformative productivity moment related to the topic.\n\n4. **Caption**  \n   - Short, punchy, viral-friendly for productivity content.  \n   - Include **one emoji**.  \n   - Exactly **12 hashtags** in this order:  \n     1. 4 time management/productivity-relevant hashtags  \n     2. 4 all-time most popular hashtags  \n     3. 4 currently trending productivity hashtags (based on live research)  \n   - All in lowercase.\n\n5. **Environment**  \n   - Maximum 20 words.  \n   - Must match the action in the Idea exactly.  \n   - Specify location (organized desk, minimalist workspace, cozy study corner…), visual details (clean surfaces, natural lighting, organized tools…), and style (overhead shot, time-lapse, before/after comparison…).\n\n6. **Sound**  \n   - Maximum 15 words.  \n   - Describe the primary sound for the productivity scene (to feed into an audio model).\n\n7. **Status**  \n   - Always set to `\"for production\"`.\n\n---\n\n### OUTPUT FORMAT (single-line JSON array)\n```json\n[\n  {\n    \"Caption\": \"Your short viral productivity title with emoji #4_timemanagement_hashtags #4_all_time_popular_hashtags #4_trending_productivity_hashtags\",\n    \"Idea\": \"Your time management idea under 13 words\",\n    \"Environment\": \"Your productive setting under 20 words matching the action\",\n    \"Sound\": \"Your primary productivity sound description under 15 words\",\n    \"Status\": \"for production\"\n  }\n]\n```"
        }
      },
      "id": "b5c6c4fd-9d8b-498e-95dc-378c76f223e4",
      "name": "AI Agent: Generate Creative Video Idea",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        580,
        -1120
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {},
      "id": "31ae25de-021a-4b89-8cb5-edda0b8e2370",
      "name": "Tool: Inject Creative Perspective (Idea)",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        700,
        -840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "ec6ab7d9-2941-4ea1-91d8-d150f080655c",
      "name": "LLM: Generate Raw Idea (GPT-4.1)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        520,
        -840
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vUOIfE7H2H4AhP2b",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Sound\": \"Primary sound description under 15 words\",\n    \"Status\": \"for production\"\n  }\n]\n"
      },
      "id": "9dc53daf-3f03-4fe8-9caf-973e82c6587c",
      "name": "Parse AI Output (Idea, Environment, Sound)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        860,
        -840
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me 3 video prompts based on the previous idea\n\nUse the Think tool to review your output",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Role: You are a prompt-generation AI specializing in cinematic, ASMR-style video prompts. Your task is to generate a multi-scene video sequence that vividly shows a sharp knife actively cutting through a specific object in a clean, high-detail setting.\n\nYour writing must follow this style:\n\nSharp, precise cinematic realism.\n\nMacro-level detail with tight focus on the blade interacting with the object.\n\nThe knife must always be in motion — slicing, splitting, or gliding through the material. Never idle or static.\n\nCamera terms are allowed (e.g. macro view, tight angle, over-the-blade shot).\n\nEach scene must contain all of the following, expressed through detailed visual language:\n\n✅ The main object or subject (from the Idea)\n\n✅ The cutting environment or surface (from the Environment)\n\n✅ The texture, structure, and behavior of the material as it’s being cut\n\n✅ A visible, sharp blade actively cutting\n\nDescriptions should show:\n\nThe physical makeup of the material — is it translucent, brittle, dense, reflective, granular, fibrous, layered, or fluid-filled?\n\nHow the material responds to the blade — resistance, cracking, tearing, smooth separation, tension, vibration.\n\nThe interaction between the blade and the surface — light reflection, buildup of particles, contact points, residue or dust.\n\nAny ASMR-relevant sensory cues like particle release, shimmer, or subtle movement, but always shown visually — not narrated.\n\nTone:\n\nClean, clinical, visual.\n\nNo poetic metaphors, emotion, or storytelling.\n\nAvoid fantasy or surreal imagery.\n\nAll description must feel physically grounded and logically accurate.\n\nLength:\n\nEach scene must be between 1,000 and 2,000 characters.\n\nNo shallow or repetitive scenes — each must be immersive, descriptive, and specific.\n\nEach scene should explore a distinct phase of the cutting process, a different camera perspective, or a new behavior of the material under the blade.\n\nInputs:\n\nIdea: \"{{ $json.idea }}\"\nEnvironment: \"{{ $json.environment_prompt }}\"\nSound: \"{{ $json.sound_prompt }}\"\n\nFormat:\n\nIdea: \"...\"\nEnvironment: \"...\"\nSound: \"...\"\n\nScene 1: \"...\"\nScene 2: \"...\"\nScene 3: \"...\"\nScene 4: \"...\"\nScene 5: \"...\"\nScene 6: \"...\"\nScene 7: \"...\"\nScene 8: \"...\"\nScene 9: \"...\"\nScene 10: \"...\"\nScene 11: \"...\"\nScene 12: \"...\"\nScene 13: \"...\"\n\n"
        }
      },
      "id": "2a54f5e5-b7d2-417e-9ba3-4c1165f90cc3",
      "name": "AI Agent: Generate Detailed Video Prompts",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1300,
        -1120
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "e6f4adbc-df97-4810-a946-9303878c6083",
      "name": "LLM: Draft Video Prompt Details (GPT-4.1)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1500,
        -840
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vUOIfE7H2H4AhP2b",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "id": "7732f151-50f5-4830-a210-7f3604d598e3",
      "name": "Tool: Refine and Validate Prompts1",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        1680,
        -840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Idea\": \"An obsidian rock being sliced with a shimmering knife\",\n  \"Environment\": \"Clean studio table, subtle light reflections\",\n  \"Sound\": \"Crisp slicing, deep grinding, and delicate crumbling\",\n  \"Scene 1\": \"Extreme macro shot: a razor-sharp, polished knife blade presses into the dark, granular surface of an obsidian rock, just beginning to indent.\",\n  \"Scene 2\": \"Close-up: fine, iridescent dust particles erupt from the point of contact as the blade cuts deeper into the obsidian, catching the studio light.\",\n  \"Scene 3\": \"Mid-shot: the knife, held perfectly steady, has formed a shallow, clean groove across the obsidian's shimmering surface, revealing a new, smooth texture.\"\n}"
      },
      "id": "671f059a-80de-4e7e-9b3f-9f02205301fc",
      "name": "Parse Structured Video Prompt Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1840,
        -840
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "function findSceneEntries(obj) {\n  const scenes = [];\n\n  for (const [key, value] of Object.entries(obj)) {\n    if (key.toLowerCase().startsWith(\"scene\") && typeof value === \"string\") {\n      scenes.push(value);\n    } else if (typeof value === \"object\" && value !== null) {\n      scenes.push(...findSceneEntries(value));\n    }\n  }\n\n  return scenes;\n}\n\nlet output = [];\n\ntry {\n  const inputData = items[0].json;\n  const scenes = findSceneEntries(inputData);\n\n  if (scenes.length === 0) {\n    throw new Error(\"No scene keys found at any level.\");\n  }\n\n  output = scenes.map(scene => ({ description: scene }));\n} catch (e) {\n  throw new Error(\"Could not extract scenes properly. Details: \" + e.message);\n}\n\nreturn output;\n"
      },
      "id": "0b24237b-b460-4b8a-afa6-aed66372ff02",
      "name": "Extract Individual Scene Descriptions",
      "type": "n8n-nodes-base.code",
      "position": [
        300,
        -580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/bytedance/seedance-v1-pro-t2v-480p",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"aspect_ratio\": \"9:16\",\n  \"duration\": 10,\n  \"prompt\": \"VIDEO THEME: {{ $('AI Agent: Generate Detailed Video Prompts').item.json.output.Idea }} | WHAT HAPPENS IN THE VIDEO: {{ $json.description }} | WHERE THE VIDEO IS SHOT: {{ $('AI Agent: Generate Detailed Video Prompts').item.json.output.Environment }}\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "96952f2a-80a1-4b41-ad33-cb9f580b6cdb",
      "name": "Generate Video Clips (Wavespeed AI)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        -580
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        },
        "httpBearerAuth": {
          "id": "Ul8HzgakamcggQYU",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 240
      },
      "id": "02ff9acd-155c-40df-9bc4-0d6e98ccb833",
      "name": "Wait for Clip Generation (Wavespeed AI)",
      "type": "n8n-nodes-base.wait",
      "position": [
        740,
        -580
      ],
      "webhookId": "60604cd4-5d90-48dc-93f4-1335e5f03fdd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.wavespeed.ai/api/v3/predictions/{{ $json.data.id }}/result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "353e151d-c98a-4119-8249-bcba7dba8c4c",
      "name": "Retrieve Video Clips",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        940,
        -580
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "81a8e77b-5724-45ab-a835-c7e26d15d3b4",
      "name": "Wait for Sound Generation (Fal AI)",
      "type": "n8n-nodes-base.wait",
      "position": [
        1600,
        -580
      ],
      "webhookId": "abac7859-a9f6-46f3-95c2-df43ec32807d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/mmaudio-v2/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c6b3408e-40df-4280-8892-ac7f6f897847",
      "name": "Retrieve Final Sound Output",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1800,
        -580
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    video_urls: items.map(item => item.json.video.url)\n  }\n];"
      },
      "id": "291797b0-e145-4d32-bbae-eba5e6f6a695",
      "name": "List Clip URLs for Stitching",
      "type": "n8n-nodes-base.code",
      "position": [
        300,
        -320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": [\n        { \"url\": \"{{ $json.video_urls[0] }}\", \"timestamp\": 0, \"duration\": 10 },\n        { \"url\": \"{{ $json.video_urls[1] }}\", \"timestamp\": 10, \"duration\": 10 },\n        { \"url\": \"{{ $json.video_urls[2] }}\", \"timestamp\": 20, \"duration\": 10 }\n      ]\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "c65260f3-a1bd-48a9-a73e-22a7a2e2a510",
      "name": "Merge Clips into Final Video (Fal AI)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        -320
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "c824b8f6-d878-428b-b280-665081487b1c",
      "name": "Wait for Video Rendering (Fal AI)",
      "type": "n8n-nodes-base.wait",
      "position": [
        760,
        -320
      ],
      "webhookId": "389fcfd1-9337-4334-a54b-4114f36e30bc",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0a70e13d-651c-4c42-bfc0-dc7be1d6ce2e",
      "name": "Retrieve Final Merged Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        -320
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "idea": "{{ $('Save Idea & Metadata to Google Sheets').first().json.idea }}",
            "production": "done",
            "final_output": "={{ $json.video_url }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "idea",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "idea",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "production",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "environment_prompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "final_output",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "idea"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5c9c2f7c-c5e0-4479-8a2a-68286695cd7b",
      "name": "URL Final Video",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1220,
        -320
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "3aa188f1-dd3a-4c50-a84d-8dd40c61412f",
      "name": "Get my video",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        280,
        260
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "STATUS": "Publish",
            "row_number": "={{ $('Get my video').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "PROMPT",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "PROMPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCRIPTION",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DESCRIPTION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Titre",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Titre",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "806556db-4e5e-4247-9821-a465358ce4e2",
      "name": "Update Production",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2740,
        880
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0",
          "mode": "list",
          "cachedResultName": "AI_Video_Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1002044804,
          "mode": "list",
          "cachedResultName": "B-roll",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit#gid=1002044804"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "==ROW()-1",
            "idea": "={{ $json.output[0].Idea }}",
            "caption": "={{ $json.output[0].Caption }}",
            "production": "={{ $json.output[0].Status }}",
            "environment_prompt": "={{ $json.output[0].Environment }}",
            "sound_prompt": "={{ $json.output[0].Sound }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound_prompt",
              "displayName": "sound_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        940,
        -1120
      ],
      "id": "fff06e26-0a15-4566-82ae-f69a8e056d45",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -380
      ],
      "id": "2e261b47-5e22-4d8a-8b95-b27007c246d1",
      "name": "HTTP Request15",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c727ef43-7e75-4e2d-90ff-d42fb77cf07f",
              "leftValue": "={{ $json[\"videoMeta\"][\"subtitleLinks\"]?.filter(l => [\"ASR\", \"MT\"].includes(l.source) && l.language?.startsWith(\"eng-US\")).toString() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        480,
        2240
      ],
      "id": "3c931885-5a67-48ba-868b-088f98b74418",
      "name": "Filter1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const transcript = $json.transcript || '';\n\nfunction isEnglish(text) {\n  const englishChars = /[a-zA-Z]/;\n  const nonEnglishChars = /[^\\x00-\\x7F]/;\n  return englishChars.test(text) && !nonEnglishChars.test(text);\n}\n\nfunction hasEnoughLines(text) {\n  // Count number of lines (split by period or newline)\n  const lines = text.trim().split(/\\n|\\./).filter(line => line.trim().length > 10); // optional: ignore short fragments\n  return lines.length >= 2;\n}\n\n// Apply both filters\nif (!transcript || !isEnglish(transcript) || !hasEnoughLines(transcript)) {\n  return {}; // <-- IMPORTANT: Return empty object to avoid breaking 'Run Once for Each Item'\n}\n\nreturn {\n  json: {\n    transcript,\n    note: \"✅ English & multi-line transcript\"\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        2240
      ],
      "id": "e8de3b34-dcc5-454a-9b64-f123ef8d3e17",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "233b9d69-cd21-4706-ba95-b4fda90a4890",
              "leftValue": "={{ $json.transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1420,
        2240
      ],
      "id": "050a2a4f-b53a-4d80-bbb2-0eb66e35bb2d",
      "name": "Filter3"
    },
    {
      "parameters": {},
      "id": "10796d03-fcf9-44b4-b5b7-0a5996ed216c",
      "name": "Tool: Inject Creative Perspective (Idea)1",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        440,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/mmaudio-v2 ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "= {\n        \"prompt\": \"ASMR Soothing sound effects. {{ $('AI Agent: Generate Detailed Video Prompts').item.json.output.Sound }}\",\n        \"duration\": 10,\n        \"video_url\": \"{{ $json.data.outputs[0] }}\"\n  }\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "1dbdf3ac-5982-463d-953c-13ef8703929a",
      "name": "Generate Video Sound (Fal AI)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1400,
        -580
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sWYDAdpREaBXPmjz",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {},
      "id": "db943844-6c8b-4958-a8f4-c4902ee6cffe",
      "name": "Tool: Inject Creative Perspective (Idea)2",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        1120,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "={{ $('AI Agent').item[0].title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1RQBTOj8XFUNDc5mcRCiyv5E-lgVjqzXB",
          "mode": "list",
          "cachedResultName": "Heygen Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RQBTOj8XFUNDc5mcRCiyv5E-lgVjqzXB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1560,
        740
      ],
      "id": "0b3d2dff-956e-4c7b-8b54-4c8f75035d18",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdNC34egOcFwenH3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0",
          "mode": "list",
          "cachedResultName": "AI_Video_Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1002044804,
          "mode": "list",
          "cachedResultName": "B-roll",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11sPcmDdvjR4cOhNNvZTUp4RnPJpmlKFYvAFMOOVvBY0/edit#gid=1002044804"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "==ROW( )-1",
            "idea": "={{ $('Edit Fields2').item.json.Idea }}",
            "caption": "={{ $('Edit Fields2').item.json.Caption }}",
            "environment_prompt": "={{ $('Edit Fields2').item.json.Idea }}",
            "production": "={{ $('AI Agent').item.json.output[0].Status }}",
            "final_output": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound_prompt",
              "displayName": "sound_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        180,
        1220
      ],
      "id": "e2bfe915-4d8e-49bd-8e1b-aa58f4cae1f1",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D0cPBfXyJY2kDkcb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Blotato-API\": \"blt_2PHN7oimSb5647DYwkri4+7dIBWbaaTWH+rI0ruhG7o=\",\n  \"Instagram\": \"\",\n  \"Pinterest\": \"\",\n  \"Pinterest-Board-id\": \"\",\n  \"X\": \"\",\n  \"LinkedIN\": \"\",\n  \"LinkedIn-page-ID\": \"\",\n  \"Threads\": \"\",\n  \"FB-Account\": \"\",\n  \"FB-Page-Stock-Graphics\": \"\",\n  \"FB-Page-Bundlestorm\": \"\",\n  \"FB-Page-Webmaster-Deals\": \"\",\n  \"FB-Page-Sumobundle\": \"\",\n  \"Fb-Page-Mimozastudio\": \"\",\n  \"Youtube\": \"\",\n  \"tiktok\": \"8037\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        420
      ],
      "id": "b99d804e-5fcb-4bdb-aa3c-14b8a33ab49f",
      "name": "Set ID1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.Instagram }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"instagram\"\n    },\n    \"target\": {\n      \"targetType\": \"instagram\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        -160
      ],
      "id": "8ea604d2-f1ff-4c22-ae64-d1cd27aabc16",
      "name": "Instagram1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.Pinterest }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\n        \"{{ $('Airtable').item.json['Image url'] }}\"\n      ],\n      \"platform\": \"pinterest\"\n    },\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Set ID1').item.json['Pinterest-Board-id'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        1400
      ],
      "id": "69382ecc-b6b0-40b0-ae73-fa2120301ff7",
      "name": "Pinterest1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Images only\n**You can upload only images on Pinterest and Bluesky",
        "height": 340,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2460,
        1400
      ],
      "typeVersion": 1,
      "id": "2eefcb0c-45d6-4207-b5f2-5d983ae9f765",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.X }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"twitter\"\n    },\n    \"target\": {\n      \"targetType\": \"twitter\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        20
      ],
      "id": "8c113c14-ccd4-41f4-8ade-c71a1f361b4b",
      "name": "Twitter1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        220
      ],
      "id": "91f4aa79-f9b5-41c7-abe4-504ddf9541d8",
      "name": "LinkedIn1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"Company update for our followers\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\",\n      \"pageId\": \"{{ $('Set ID1').item.json['LinkedIn-page-ID'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        440
      ],
      "id": "eb69eb7a-e014-4087-b7af-cec0b7dfeb5c",
      "name": "LinkedIn Page1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json['FB-Account'] }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"facebook\"\n    },\n    \"target\": {\n        \"targetType\": \"facebook\",\n        \"pageId\": \"{{ $('Set ID1').item.json['FB-Page-Sumobundle'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        640
      ],
      "id": "7f8874e3-e39c-4094-9a6a-28becfe3a92b",
      "name": "Fb Account1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.tiktok }}\",\n    \"content\": {\n      \"text\": \"{{ $('Google Sheets3').item.json['Video Title'] }}\",\n      \"mediaUrls\": [\n        \"{{ $('HTTP Request').item.json.url }}\"\n      ],\n      \"platform\": \"tiktok\"\n    },\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"disabledComments\": false,\n      \"disabledDuet\": false,\n      \"disabledStitch\": false,\n      \"isBrandedContent\": false,\n      \"isYourBrand\": false,\n      \"isAiGenerated\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        840
      ],
      "id": "4ea83f2b-44c6-4e57-bb1d-ddd6bd322031",
      "name": "Tiktok1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.Threads }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"threads\"\n    },\n    \"target\": {\n      \"targetType\": \"threads\",\n      \"replyControl\": \"everyone\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        1200
      ],
      "id": "2773d807-7896-4b04-9cc7-ac95bfdec9c4",
      "name": "Threads1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"acc_12345\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"bluesky\"\n    },\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        1620
      ],
      "id": "6ed47b19-46a2-4233-91db-618b62052cb9",
      "name": "Bluesky1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID1').item.json.Youtube }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable').item.json.Title }}\",\n      \"mediaUrls\": [\n        \"{{ $('HTTP Request').item.json.url }}\"\n      ],\n      \"platform\": \"youtube\"\n    },\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Airtable').item.json.Title }}\",\n      \"privacyStatus\": \"private\",\n      \"shouldNotifySubscribers\": false\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        1020
      ],
      "id": "09c870e7-55c1-4f02-b119-6361dadb8906",
      "name": "Youtube1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/instagram.png?v=1742473316)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        -180
      ],
      "typeVersion": 1,
      "id": "23f7f5ef-4382-460b-b029-b00175a8f011",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/x.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        0
      ],
      "typeVersion": 1,
      "id": "444efc0d-1965-410d-b443-932e3c5e4174",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        200
      ],
      "typeVersion": 1,
      "id": "0b5e2440-8bee-4ad0-ab07-10b23691423c",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        420
      ],
      "typeVersion": 1,
      "id": "1b27eb96-1f81-4e6a-9b2b-09b977f072dc",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/facebook.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        620
      ],
      "typeVersion": 1,
      "id": "4645c1ce-f954-4d96-9a5b-446730e5e855",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/tiktok.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        820
      ],
      "typeVersion": 1,
      "id": "5854da08-e4f6-4cf0-9728-e92da60b17ab",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/youtube.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        1000
      ],
      "typeVersion": 1,
      "id": "24d24dcd-98ee-4fcc-a23e-3d8670b61174",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/threads.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        1200
      ],
      "typeVersion": 1,
      "id": "01c6d90e-dbbc-4c0e-b5fd-ede9c77b1abe",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/pinterest.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        1400
      ],
      "typeVersion": 1,
      "id": "ae020e03-564f-48b0-986a-8db9e47a2b5e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/bluesky.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        1600
      ],
      "typeVersion": 1,
      "id": "4fda2351-cdfe-4c7c-b92c-3d9ab0339c85",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID1').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('HTTP Request11').item.json.data.video_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        420
      ],
      "id": "ef24570c-8d7f-43f1-be92-90adf9b7b559",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "142bb5e3-691d-4774-afcd-7d8acb1a216a",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        1840
      ],
      "id": "89539737-49c1-4ddc-a48e-06dd9806c49b",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generating Video": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Generating Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinterest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fb Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bluesky",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Start Daily Content Generation": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Creative Video Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Creative Video Idea": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Inject Creative Perspective (Idea)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Creative Video Idea",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Generate Raw Idea (GPT-4.1)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Creative Video Idea",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output (Idea, Environment, Sound)": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Creative Video Idea",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Detailed Video Prompts": {
      "main": [
        [
          {
            "node": "Extract Individual Scene Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Draft Video Prompt Details (GPT-4.1)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Detailed Video Prompts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Refine and Validate Prompts1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Detailed Video Prompts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Video Prompt Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Detailed Video Prompts",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Individual Scene Descriptions": {
      "main": [
        [
          {
            "node": "Generate Video Clips (Wavespeed AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Clips (Wavespeed AI)": {
      "main": [
        [
          {
            "node": "Wait for Clip Generation (Wavespeed AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Clip Generation (Wavespeed AI)": {
      "main": [
        [
          {
            "node": "Retrieve Video Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Video Clips": {
      "main": [
        [
          {
            "node": "Generate Video Sound (Fal AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Sound Generation (Fal AI)": {
      "main": [
        [
          {
            "node": "Retrieve Final Sound Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Final Sound Output": {
      "main": [
        [
          {
            "node": "List Clip URLs for Stitching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Clip URLs for Stitching": {
      "main": [
        [
          {
            "node": "Merge Clips into Final Video (Fal AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Clips into Final Video (Fal AI)": {
      "main": [
        [
          {
            "node": "Wait for Video Rendering (Fal AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Rendering (Fal AI)": {
      "main": [
        [
          {
            "node": "Retrieve Final Merged Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Final Merged Video": {
      "main": [
        [
          {
            "node": "URL Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Final Video": {
      "main": [
        [
          {
            "node": "Get my video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get my video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Detailed Video Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Inject Creative Perspective (Idea)1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Sound (Fal AI)": {
      "main": [
        [
          {
            "node": "Wait for Sound Generation (Fal AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Inject Creative Perspective (Idea)2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Set ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinterest1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn1",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fb Account1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tiktok1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threads1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bluesky1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a51680c3-edf9-4b52-9ba1-64ae2ab20b56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2eacaff388ae5bea2b4b3103196b3d7469752b8a6dadb5297941fe9d9bd2cef1"
  },
  "id": "G4MzzlicvY4VSI6s",
  "tags": []
}