n8n-workflows/RAG_knowledge_base.json
{
  "name": "RAG knowledge base",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1N6UiSDDsgoBdUiYtQlvqST2Hq8CAemk7",
          "mode": "list",
          "cachedResultName": "RAG email creator ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1N6UiSDDsgoBdUiYtQlvqST2Hq8CAemk7"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -40
      ],
      "id": "2c7e46f7-9690-4364-8785-dbbec84d681f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "siESYC3F6UIthFnl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        -40
      ],
      "id": "11ceb301-69a7-49d2-be69-e5a069e356b8",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "siESYC3F6UIthFnl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-email-creator",
          "mode": "list",
          "cachedResultName": "n8n-rag-email-creator"
        },
        "options": {
          "pineconeNamespace": "Email cretor"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        280,
        -40
      ],
      "id": "64f2ef6f-d942-4270-bcde-87188de2916e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4Xr4jetENCFCqAeg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        160
      ],
      "id": "3d3fefd1-7dd8-4b9e-9a58-cd2cb603f9bb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wLEE6fG6sE3GDheh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Property file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        380,
        160
      ],
      "id": "019db7d9-25c5-4e42-b6c8-b9135430ca9e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "id": "2cf8ba62-563f-4c75-b7e0-d33d22ff73a2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ac1b0da-9975-4755-8bf5-c9bfd8b6bd68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f728ac8b256bc0332b9cc850d0cf415bb9be6d8f439bde96f0fa8f4178c36ca3"
  },
  "id": "YE0Oz7ZFAqZUNlq0",
  "tags": []
}