n8n-workflows/Save Transcript.json
{
  "name": "receive data cold calling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ca65931a-eed5-4de3-a7fc-019eadd46696",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8250e563-69f7-4814-8338-4f2aaf54e932",
      "name": "Webhook",
      "webhookId": "ca65931a-eed5-4de3-a7fc-019eadd46696"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA",
          "mode": "list",
          "cachedResultName": "n8n workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json.body.message.customer.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "675679f5-8281-488d-8c8e-6c16f8babc4b",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jBkKUflHqs4Ksi7M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=#Instructions\nAnalyze the transcript and decide wether the prospect was interested in receiving an email or not. Just output Yes or No.\n\nTranscript: {{ $('Webhook').item.json.body.message.transcript }}\n\n#Example otutput\nYes",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "f9eface5-979a-4b0d-bf2c-fd15589478cd",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3ACvnRvbRpGxN5z3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "106d48f2-92e3-414b-b97a-f627122264cd",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "ca0f6a60-03c9-41a3-9120-585e377ee7e3",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.Email }}",
        "subject": "More information",
        "emailType": "text",
        "message": "=Hey {{ $('Google Sheets').item.json.Name }},\n\nHere you have the information we talked previously about: link",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        -100
      ],
      "id": "7c5ef382-12f0-4b30-806f-d7cbd0ac9a54",
      "name": "Gmail",
      "webhookId": "eedec6d3-9867-47d7-a6a8-c361e55d29f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "6BYavjsbFBfrOTBc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA",
          "mode": "list",
          "cachedResultName": "n8n workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Google Sheets').item.json.Name }}",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}",
            "Interested": "Yes (email sent)",
            "Call Sent": "Call sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Sent",
              "displayName": "Call Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1240,
        -100
      ],
      "id": "7d04b6f0-0123-42d3-990d-e63b3eb07991",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jBkKUflHqs4Ksi7M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA",
          "mode": "list",
          "cachedResultName": "n8n workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1676W3yxW7G3zq9BvuaJIk_xZXA38nC8_VBtwMp7ouzA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets').item.json.row_number }}",
            "Interested": "No",
            "Name": "={{ $('Google Sheets').item.json.Name }}",
            "Call Sent": "Call sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Sent",
              "displayName": "Call Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        100
      ],
      "id": "9b95ef26-7894-40ca-a391-d2ae19c84dc6",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jBkKUflHqs4Ksi7M",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f4dbce6-a668-4376-9a8d-ea90e7c61c2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b780ca1a713d6957cfd56ba271a1f9aa819d4c1869e78cad5cb97ee15ab9b87f"
  },
  "id": "Vbq0Wq4Op2UDTa9T",
  "tags": []
}