make-scenarios/Googlesheet to VAPI call.json
{
    "name": "Proyecto",
    "flow": [
        {
            "id": 29,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3017937
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "E",
                            "o": "notexist"
                        }
                    ]
                ],
                "sheetId": "Hoja de leads",
                "sortOrder": "asc",
                "spreadsheetId": "1tILnDqkz4nqWRTywqJmdFJWMVfVZsmuVYzKoRp5fL-w",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 256,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Hoja de leads"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Proyecto Primelis"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (tribexagency@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "First Name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Last Name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Mobile phone (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Company Name (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Call sent? (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Located in? (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Assistant",
                "scope": "roundtrip",
                "value": "{\n  \"transcriber\": {\n    \"provider\": \"deepgram\",\n    \"language\": \"en\",\n    \"model\": \"nova-2\",\n    \"smartFormat\": false\n  },\n  \"model\": {\n    \"provider\": \"openai\",\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"#Role You are Max the experienced and fantastic assistant of Grow Tech Prime’s, whose job is to try to book appointments with their leads and handle all the questions they can have  # Task Try to book appointments and handle questions following this steps: 1. Say your first message: “Hi {{29.`0`}}, this is Max” 2. Then wait until the prospect says something (which most of the times it will be something like “where are you calling from?”, “Max who?”,), to say then “I am Max and I am calling from Growth Tech Primelis, I understand that you are part of the marketing team of {{29.`3`}}. Is that still CORRECT today?     1. If the user interrupts you with something like “Grow Tech who?”, answer and ask again if it is correct that he is part of the marketing team of {{29.`3`}} 3. If the prospect says no, then say sorry for calling him. But if he says yes then say “Ok great! So I must be speaking to the CORRECT person. The reason I am reaching out {{29.`0`}} is because I noticed that you are spending a lot of money on branded ads. Did you know you are paying for traffic that is supposed to be free?” 4. The prospect will answer something like “no”, “Oh, I didn’t know that” or “what is this about”. Then answer “Yeah, The problem is that Google shows your branded ads even when there is no other competitor present and making you pay premium for those clicks when you should pay the least.  Did I explain the problem thoroughly {{29.`0`}}?”     1. If you get interrupted here in any time, just answer the question and continue saying what you have left to say     2. If you end and the prospect need more explanation or he says no, say this: “Picture this, you want to find your {{29.`3`}} you go to Google type the name of your brand and press enter. The result that comes back is your branded ad, with no one else there, followed by your organic result. Whats the point of paying for advertising when no one is there? People searching for your brand can very well click on the organic result, they were looking for you, so why give them the option to click an ad.” 5. After the prospect says something similar to “yes”, continue saying this: “To solve this problem we created an Adtech that knows WHEN your ads are ALONE on the SERP, and will bring down the bid little by little automatically until finding what is the lowest CPC possible so you will pay the least while maintaining brand presence, OR to zero if you want.  The results will be a 50% reduction in acquisition costs just like we have succesfully done so for clients such as Crocs, Audible, Samsung, Bridgstone, Zoominfo and over 200 brands, and after looking at your campaign profile I know we can do the same savings for you.” 6. Here the prospect will start asking some questions, if you can’t answer them just say: “that is a very good question, I would have to ask my tech team for that…. How about this, what if I set up a meeting with an expert who will answer all your questions including costs and free trial”. But if the question is similar to these, just answer them and then propose a meeting with one of the experts inside Primelis:     1. Prospect asks something similar to “how do you do this?”, say “By scrapping the Google search result minute by minute basis, we are able to monitor the status of your ads and compare it to other information we handle.     2. Prospect ask something similar to “But I don’t want to completely disappear”, then say “Completely understand and as a matter of fact the MAJORITY of our clients don’t like to disappear, in this case our algorithm will automatically detect the lowest CPC possible for your ad to appear, so you will be saving money also here.     3. Prospect asks something similar to “But other competitors can bid on my branded term”, then say That is correct , and it depends on how aggressively they bid against you will determine the number of times they appear, could be many could be very few. The point here is that you will pay the least amount of money when you get a click on your branded ads.” 7. When the prospects agrees on having a meeting, say “Ok so for that I can send you an SMS with a booking link for you to choose the best time slot that fits, do you want me to proceed?” 8. If the prospect says yes, save inside the function #SendSMS and send the SMS. If the prospect says no, just say thank you and say goodbye # Details -This task is crucial for the success of Grow Tech Primelis -Remember always to follow deeply the instructions, and to follow them when interrupted by the prospect -Remember to sound natural with expressions like “eeeh” or “Mmmmh”  # Context ## The agency  ## Our system You are part of the system of client acquisition of Grow Tech Primelis, and your objective is book as many appointments as you can with the leads you are calling, and to answer all the questions they have  # Examples ## Example 1 Assistant (you): Hi {{29.`0`}}, this is Ma Prospect: Hi Max, where are you calling from? Assistant (you): I am calling from Growth Tech Primelis, I understand that you are part of the marketing team of  {{29.`3`}}. Is that still CORRECT today? Prospect: Wait, wait, wait, Grow Tech who? Assistant (you): Primelis, we are Technology company focused on marketing cost optimizations. So, is it correct that you are part of the marketing agency of {{29.`3`}}? Prospect: Yes Assistant (you): Ok great! So I must be speaking to the CORRECT person. The reason I am reaching out {{29.`0`}} is because I noticed that you are spending a lot of money on branded ads. Did you know you are paying for traffic that is supposed to be free? Prospect: No, I didn’t know that Assistant (you): Yeah, The problem is that Google shows your branded ads even when there is no other competitor present and making you pay premium for those clicks when you should pay the least.  Did I explain the problem thoroughly {{29.`0`}}? Prospect: Not exactly Assistant (you): Picture this, you want to find your {{29.`3`}} you go to Google type the name of your brand and press enter. The result that comes back is your branded ad, with no one else there, followed by your organic result. Whats the point of paying for advertising when no one is there? People searching for your brand can very well click on the organic result, they were looking for you, so why give them the option to click an ad. Did you understand it better now? Prospect: Yeah, now I did Assistant (you): To solve this problem we created an Adtech that knows WHEN your ads are ALONE on the SERP, and will bring down the bid little by little automatically until finding what is the lowest CPC possible so you will pay the least while maintaining brand presence, OR to zero if you want.  The results will be a 50% reduction in acquisition costs just like we have succesfully done so for clients such as Crocs, Audible, Samsung, Bridgstone, Zoominfo and over 200 brands, and after looking at your campaign profile I know we can do the same savings for you. Prospect: I understand Assistant (you): Perfect, I know that you are a busy person and I called you out of nowhere. What I would propose is to schedule a demo meeting with one of my experts, in that meeting you will see in real time our client results, and you will understand everything perfectly, are you interested in that? Prospect: Yes of course Assistant (you): Ok so for that I can send you an SMS with a booking link for you to choose the best time slot that fits, do you want me to proceed? Prospect: Nah, no thanks Assistant (you): I understand, no worries, have a nice day  ## Example 2 Assistant (you): Hi {{29.`0`}}, this is Ma Prospect: Hi Max, where are you calling from? Assistant (you): I am calling from Growth Tech Primelis, I understand that you are part of the marketing team of  {{29.`3`}}. Is that still CORRECT today? Prospect: Yeah, it is Assistant (you): Ok great! So I must be speaking to the CORRECT person. The reason I am reaching out {{29.`0`}} is because I noticed that you are spending a lot of money on branded ads. Did you know you are paying for traffic that is supposed to be free? Prospect: No, I didn’t know that Assistant (you): Yeah, The problem is that Google shows your branded ads even when there is no other competitor present and making you pay premium for those clicks when you should pay the least.  Did I explain the problem thoroughly {{29.`0`}}? Prospect: Yes, I understand Assistant (you): To solve this problem we created an Adtech that knows WHEN your ads are ALONE on the SERP, and will bring down the bid little by little automatically until finding what is the lowest CPC possible so you will pay the least while maintaining brand presence, OR to zero if you want.  The results will be a 50% reduction in acquisition costs just like we have succesfully done so for clients such as Crocs, Audible, Samsung, Bridgstone, Zoominfo and over 200 brands, and after looking at your campaign profile I know we can do the same savings for you. Prospect: And how do you do this? Assistant (you): By scrapping the Google search result minute by minute basis, we are able to monitor the status of your ads and compare it to other information we handle. With this said, would you be kind with closing a meeting with one of our experts of Primelis to show and attend you more in detail? Prospect: Yes please! Assistant (you): Ok so for that I can send you an SMS with a booking link for you to choose the best time slot that fits, do you want me to proceed? Prospect: Ok Assistant (you): Perfect, so it will be sent shortly for you to book the call, don’t forget to do it! Have a nice day and see you soon  ## Example 3 Assistant (you): Hi {{29.`0`}}, this is Ma Prospect: Hi Max, where are you calling from? Assistant (you): I am calling from Growth Tech Primelis, I understand that you are part of the marketing team of {{29.`3`}}. Is that still CORRECT today? Prospect: Yeah, it is Assistant (you): Ok great! So I must be speaking to the CORRECT person. The reason I am reaching out {{29.`0`}} is because I noticed that you are spending a lot of money on branded ads. Did you know you are paying for traffic that is supposed to be free? Prospect: No, I didn’t know that Assistant (you): Yeah, The problem is that Google shows your branded ads even when there is no other competitor present and making you pay premium for those clicks when you should pay the least.  Did I explain the problem thoroughly {{29.`0`}}? Prospect: Yes, I understand Assistant (you): To solve this problem we created an Adtech that knows WHEN your ads are ALONE on the SERP, and will bring down the bid little by little automatically until finding what is the lowest CPC possible so you will pay the least while maintaining brand presence, OR to zero if you want.  The results will be a 50% reduction in acquisition costs just like we have succesfully done so for clients such as Crocs, Audible, Samsung, Bridgstone, Zoominfo and over 200 brands, and after looking at your campaign profile I know we can do the same savings for you. Prospect: But I don’t want to completely disappear Assistant (you): Completely understand and as a matter of fact the MAJORITY of our clients don’t like to disappear, in this case our algorithm will automatically detect the lowest CPC possible for your ad to appear, so you will be saving money also here. With this said, would you be kind with closing a meeting with one of our experts of Primelis to show and attend you more in detail? Prospect: Yes please! Assistant (you): Assistant (you): Ok so for that I can send you an SMS with a booking link for you to choose the best time slot that fits, do you want me to proceed? Prospect: Ok Assistant (you): Perfect, so it will be sent shortly for you to book the call, don’t forget to do it! Have a nice day and see you soon\"\n      }\n    ],\n    \"maxTokens\": 1000,\n    \"temperature\": 0.2,\n    \"tools\": [\n      {\n        \"type\": \"dtmf\",\n        \"async\": false,\n        \"function\": {\n          \"name\": \"SendSMS\",\n          \"description\": \"Wether the user wants to receive an SMS with the booking link or not. Output can only be Yes or No\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"SendSMS\": {\n                \"type\": \"string\",\n                \"description\": \"Wether the user wants to receive an SMS with the booking link or not. Output can only be Yes or No. Example output: Yes\"\n              }\n            }\n          }\n        },\n        \"server\": {\n          \"url\": \"https://hook.us1.make.com/ckzbpi49auoucw5tisyi8551mho3y3aj\"\n        }\n      }\n    ]\n  },\n  \"voice\": {\n    \"provider\": \"11labs\",\n    \"voiceId\": \"0GoLoBHogFMTLhDROxLD\",\n    \"model\": \"eleven_turbo_v2_5\",\n    \"language\": \"en\"\n  },\n  \"firstMessageMode\": \"assistant-speaks-first\",\n  \"clientMessages\": [],\n  \"serverMessages\": [\n    \"end-of-call-report\",\n    \"tool-calls\",\n    \"function-call\"\n  ],\n  \"backgroundSound\": \"off\",\n  \"firstMessage\": \"Hi {{29.`0`}}, this is Max\",\n  \"name\": \"Proyecto Primelis\",\n  \"voicemailMessage\": \"Hi {{29.`0`}}. My name is Max from Growth Tech Primelis, I was reaching out to you to let you know that you are paying for website traffic that is supposed to be free. Because Google is showing your branded ads when there is no competition, costing you many unnecessary clicks and a lot of money. We developed an Adtech that detects this scenario and adjusts the bid accordingly. Our tech has helped companies like Samsung, Bridgestone, Crocs, and over 200 other companies save 50% or more in their ad spend, and we can do the same for you. I would also like to offer you a FREE trial OF our tool so you can visualize the cost savings and data first without any engagement. Looking forward to hearing back from you soon.\",\n  \"serverUrl\": \"https://hook.us1.make.com/ckzbpi49auoucw5tisyi8551mho3y3aj\",\n  \"artifactPlan\": {\n    \"recordingEnabled\": true,\n    \"transcriptPlan\": {\n      \"enabled\": true\n    }\n  },\n  \"hipaaEnabled\": false\n}"
            },
            "metadata": {
                "designer": {
                    "x": 548,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Assistant",
                        "type": "any",
                        "label": "Assistant"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "[{{22.Assistant}}]"
            },
            "metadata": {
                "designer": {
                    "x": 829,
                    "y": -4
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 10
            },
            "mapper": {
                "name": "{{10.name}}",
                "model": "{{10.model}}",
                "voice": "{{10.voice}}",
                "serverUrl": "{{10.serverUrl}}",
                "transcriber": "{{10.transcriber}}",
                "artifactPlan": "{{10.artifactPlan}}",
                "firstMessage": "{{10.firstMessage}}",
                "clientMessages": "{{10.clientMessages}}",
                "serverMessages": "{{10.serverMessages}}",
                "backgroundSound": "{{10.backgroundSound}}",
                "firstMessageMode": "{{10.firstMessageMode}}",
                "voicemailMessage": "{{10.voicemailMessage}}"
            },
            "metadata": {
                "designer": {
                    "x": 1122,
                    "y": -8
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "JSON - Parse JSON [10]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 15,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{first(14.array)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1422,
                    "y": -8
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://api.vapi.ai/call",
                "serializeUrl": false,
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer "
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "contentType": "application/json",
                "data": "{\n  \"customer\": {\n    \"number\": \"+14162193319\",\n    \"name\": \"{{29.`0`}}\",\n    \"extension\": \"\"\n  },\n  \"phoneNumberId\": \"e0bf288a-21e9-4512-8217-0484d115de3a\",\n  \"name\":\"{{29.`1`}}\",\n  \"assistant\": {{15.json}}\n}",
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 1717,
                    "y": -13
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                {
                                    "name": {
                                        "collapsed": true
                                    }
                                },
                                {
                                    "name": {
                                        "collapsed": true
                                    }
                                }
                            ]
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 27,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 1966945
                        },
                        "mapper": {
                            "model": "gpt-4o-mini",
                            "top_p": "1",
                            "select": "chat",
                            "messages": [
                                {
                                    "role": "system",
                                    "content": "Output the same as this in a json_object format: {{22.Assistant}}"
                                }
                            ],
                            "max_tokens": "2300",
                            "temperature": "1",
                            "n_completions": "1",
                            "response_format": "json_object",
                            "parseJSONResponse": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 514,
                                "y": 474,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set variable' [22] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4o-mini (system)"
                                    },
                                    "select": {
                                        "label": "Create a Chat Completion (GPT and o1 models)"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "System"
                                                }
                                            }
                                        ]
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "JSON Object"
                                    },
                                    "parseJSONResponse": {
                                        "mode": "chose"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "My OpenAI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Completion Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "name": "imageInputType",
                                                                    "type": "select",
                                                                    "label": "Image Input Type",
                                                                    "options": [
                                                                        {
                                                                            "label": "URL",
                                                                            "value": "url",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                                                                    "name": "imageUrl",
                                                                                    "type": "url",
                                                                                    "label": "Image URL"
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Image File",
                                                                            "value": "file",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "imageFile",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                            "name": "imageFilename",
                                                                                            "type": "filename",
                                                                                            "label": "Image Filename",
                                                                                            "semantic": "file:name",
                                                                                            "extension": [
                                                                                                "jpg",
                                                                                                "jpeg",
                                                                                                "png",
                                                                                                "webp",
                                                                                                "gif"
                                                                                            ]
                                                                                        },
                                                                                        {
                                                                                            "name": "imageData",
                                                                                            "type": "buffer",
                                                                                            "label": "Image Data",
                                                                                            "semantic": "file:data"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Image"
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false
                                                                },
                                                                {
                                                                    "name": "imageDetail",
                                                                    "type": "select",
                                                                    "label": "Image Detail",
                                                                    "options": [
                                                                        {
                                                                            "label": "Auto",
                                                                            "value": "auto",
                                                                            "default": true
                                                                        },
                                                                        {
                                                                            "label": "High",
                                                                            "value": "high"
                                                                        },
                                                                        {
                                                                            "label": "Low",
                                                                            "value": "low"
                                                                        }
                                                                    ],
                                                                    "advanced": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                },
                                {
                                    "name": "parseJSONResponse",
                                    "type": "boolean",
                                    "label": "Parse JSON Response",
                                    "required": true
                                }
                            ],
                            "interface": [
                                {
                                    "name": "result",
                                    "type": "any",
                                    "label": "Result"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                },
                                {
                                    "name": "created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "model",
                                    "type": "text",
                                    "label": "Model"
                                },
                                {
                                    "name": "choices",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Choices"
                                },
                                {
                                    "name": "usage",
                                    "spec": [
                                        {
                                            "name": "prompt_tokens",
                                            "type": "number",
                                            "label": "Prompt Tokens"
                                        },
                                        {
                                            "name": "completion_tokens",
                                            "type": "text",
                                            "label": "Completion Tokens"
                                        },
                                        {
                                            "name": "total_tokens",
                                            "type": "number",
                                            "label": "Total Tokens"
                                        },
                                        {
                                            "name": "prompt_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "cached_tokens",
                                                    "type": "uinteger",
                                                    "label": "Cached Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "image_tokens",
                                                    "type": "uinteger",
                                                    "label": "Image Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "completion_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "reasoning_tokens",
                                                    "type": "uinteger",
                                                    "label": "Reasoning Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Completion Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage"
                                },
                                {
                                    "name": "system_fingerprint",
                                    "type": "text",
                                    "label": "System Fingerprint"
                                }
                            ],
                            "advanced": true
                        }
                    }
                ]
            ]
        },
        "zone": "us1.make.com",
        "notes": [
            {
                "moduleIds": [
                    10
                ],
                "content": "",
                "isFilterNote": true,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}