make-scenarios/Property Buy, Sell ,info Gmail-message.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1739013,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -901,
                    "y": -55
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Real Estate Guide"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "message",
                        "spec": [
                            {
                                "name": "timestamp",
                                "type": "text"
                            },
                            {
                                "name": "type",
                                "type": "text"
                            },
                            {
                                "name": "toolCalls",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "function",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "arguments",
                                                    "spec": [
                                                        {
                                                            "name": "reason",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "toolCallList",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "function",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "arguments",
                                                    "spec": [
                                                        {
                                                            "name": "reason",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "toolWithToolCallList",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "function",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "async",
                                                    "type": "boolean"
                                                },
                                                {
                                                    "name": "parameters",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "properties",
                                                            "spec": [
                                                                {
                                                                    "name": "Reason ",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "description",
                                                                            "type": "text"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                {
                                                                    "name": "Features",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "description",
                                                                            "type": "text"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                {
                                                                    "name": "Location",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "description",
                                                                            "type": "text"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                {
                                                                    "name": "Name of the client",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "description",
                                                                            "type": "text"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                {
                                                    "name": "description",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        {
                                            "name": "async",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "server",
                                            "spec": [
                                                {
                                                    "name": "url",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        {
                                            "name": "messages",
                                            "type": "array"
                                        },
                                        {
                                            "name": "toolCall",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "function",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "arguments",
                                                            "spec": [
                                                                {
                                                                    "name": "reason",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "artifact",
                                "spec": [
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "message",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "time",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "secondsFromStart",
                                                    "type": "number"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "messagesOpenAIFormatted",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "call",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "orgId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "createdAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "updatedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "monitor",
                                        "spec": [
                                            {
                                                "name": "listenUrl",
                                                "type": "text"
                                            },
                                            {
                                                "name": "controlUrl",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "webCallUrl",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "assistantId",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "assistant",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "orgId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "voice",
                                        "spec": [
                                            {
                                                "name": "model",
                                                "type": "text"
                                            },
                                            {
                                                "name": "voiceId",
                                                "type": "text"
                                            },
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            },
                                            {
                                                "name": "stability",
                                                "type": "number"
                                            },
                                            {
                                                "name": "similarityBoost",
                                                "type": "number"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "createdAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "updatedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "model",
                                        "spec": [
                                            {
                                                "name": "model",
                                                "type": "text"
                                            },
                                            {
                                                "name": "toolIds",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array"
                                            },
                                            {
                                                "name": "messages",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "role",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "content",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array"
                                            },
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number"
                                            },
                                            {
                                                "name": "tools",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "createdAt",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "updatedAt",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "function",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "async",
                                                                    "type": "boolean"
                                                                },
                                                                {
                                                                    "name": "parameters",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "properties",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "Reason ",
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "type",
                                                                                            "type": "text"
                                                                                        },
                                                                                        {
                                                                                            "name": "description",
                                                                                            "type": "text"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection"
                                                                                },
                                                                                {
                                                                                    "name": "Features",
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "type",
                                                                                            "type": "text"
                                                                                        },
                                                                                        {
                                                                                            "name": "description",
                                                                                            "type": "text"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection"
                                                                                },
                                                                                {
                                                                                    "name": "Location",
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "type",
                                                                                            "type": "text"
                                                                                        },
                                                                                        {
                                                                                            "name": "description",
                                                                                            "type": "text"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection"
                                                                                },
                                                                                {
                                                                                    "name": "Name of the client",
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "type",
                                                                                            "type": "text"
                                                                                        },
                                                                                        {
                                                                                            "name": "description",
                                                                                            "type": "text"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection"
                                                                                }
                                                                            ],
                                                                            "type": "collection"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        {
                                                            "name": "orgId",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "server",
                                                            "spec": [
                                                                {
                                                                    "name": "url",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        {
                                                            "name": "async",
                                                            "type": "boolean"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "recordingEnabled",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "firstMessage",
                                        "type": "text"
                                    },
                                    {
                                        "name": "transcriber",
                                        "spec": [
                                            {
                                                "name": "model",
                                                "type": "text"
                                            },
                                            {
                                                "name": "language",
                                                "type": "text"
                                            },
                                            {
                                                "name": "provider",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "clientMessages",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "serverMessages",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "backgroundSound",
                                        "type": "text"
                                    },
                                    {
                                        "name": "artifactPlan",
                                        "spec": [
                                            {
                                                "name": "videoRecordingEnabled",
                                                "type": "boolean"
                                            }
                                        ],
                                        "type": "collection"
                                    }
                                ],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2916133
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "Transcript: {{1.message.artifact.messages[2].message}}\n{{1.message.artifact.messages[3].message}}\n{{1.message.artifact.messages[4].message}}\n{{1.message.artifact.messages[5].message}}\n\nDon't take into account the first message, it is the prompt, start with the one that says: Hey there, this is the assistant of the real estate agent James Williams, how can I help you?\nProvide a copu of text of the transcript as it would be a QnA with this format:\nAssistant:\nUser:\nAssistant:"
                    }
                ],
                "max_tokens": "250",
                "temperature": "0.2",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": -520,
                    "y": -52
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -168,
                    "y": -69
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2946732
                            },
                            "filter": {
                                "name": "Buy",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.toolCalls[].function.arguments.reason}}",
                                            "b": "buy",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.message.toolCalls[].function.arguments.`Name of the client`}}",
                                    "1": "{{1.message.customer.number}}",
                                    "2": "{{13.choices[].message.content}}",
                                    "3": "{{1.message.toolCalls[].function.arguments.Features}}",
                                    "4": "{{1.message.toolCalls[].function.arguments.Location}}",
                                    "5": "{{1.message.toolCalls[].function.arguments.Viewing}}"
                                },
                                "sheetId": "Buy",
                                "spreadsheetId": "/1kf9NxfyO5L_nQdlmlZ20KAzOHcn6H72Iqu5Bd3d1jRk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 158,
                                    "y": -73
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Buy"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Voice Agent 10 minutes"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Number (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Transcript (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Features of property (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Location (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Viewing? (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (diego.sainz.balboa@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Number (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Transcript (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Features of property (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Location (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Viewing? (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3427422
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "diego.sainz.balboa@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hey James, \n\nA new client has called the assistant and has been added to the Google Sheets, {{1.message.toolCalls[].function.arguments.`Name of the client`}} wants to buy a property from {{1.message.toolCalls[].function.arguments.Location}}, with {{1.message.toolCalls[].function.arguments.Features}}. Viewing?: {{1.message.toolCalls[].function.arguments.Viewing}}",
                                "subject": "New client who wants to buy - {{1.message.toolCalls[].function.arguments.`Name of the client`}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 557,
                                    "y": -72
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (diego.sainz.balboa@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2946732
                            },
                            "filter": {
                                "name": "info",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.toolCalls[].function.arguments.reason}}",
                                            "b": "info",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.message.toolCalls[].function.arguments.`Name of the client`}}",
                                    "1": "{{1.message.customer.number}}",
                                    "2": "{{13.choices[].message.content}}"
                                },
                                "sheetId": "Info",
                                "spreadsheetId": "/1kf9NxfyO5L_nQdlmlZ20KAzOHcn6H72Iqu5Bd3d1jRk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 151,
                                    "y": 170
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Info"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Voice Agent 10 minutes"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Number (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Transcript (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (diego.sainz.balboa@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Number (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Transcript (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3057849
                            },
                            "mapper": {
                                "to": "{{1.message.customer.number}}",
                                "body": "Hey {{1.message.toolCallList[].function.arguments.`Name of the client`}},\n\nHere you have the info you requested about the Real Estate Agent James Williams: https://www.gilmar.es/en/madrid/",
                                "from": "+12063502278",
                                "fromType": "phone",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 451,
                                    "y": 170
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose",
                                            "label": "(206) 350-2278"
                                        },
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "phone number"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Phone number",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2946732
                            },
                            "filter": {
                                "name": "Sell",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.toolCalls[].function.arguments.reason}}",
                                            "b": "sell",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.message.toolCalls[].function.arguments.`Name of the client`}}",
                                    "1": "{{1.message.call.customer.number}}",
                                    "2": "{{1.message.artifact.messages}}",
                                    "3": "{{1.message.toolCalls[].function.arguments.Features}}",
                                    "4": "{{1.message.toolCalls[].function.arguments.Location}}",
                                    "5": "{{1.message.toolCalls[].function.arguments.Viewing}}"
                                },
                                "sheetId": "Sell",
                                "spreadsheetId": "/1kf9NxfyO5L_nQdlmlZ20KAzOHcn6H72Iqu5Bd3d1jRk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 153,
                                    "y": -344
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sell"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Voice Agent 10 minutes"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Number (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Transcript (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Features of property (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Location (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Viewing? (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (diego.sainz.balboa@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Number (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Transcript (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Features of property (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Location (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Viewing? (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3436596
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "diego.sainz.balboa@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hey James, \n\nA new client has called the assistant and has been added to the Google Sheets, {{1.message.toolCalls[].function.arguments.`Name of the client`}} wants to sell his property from {{1.message.toolCalls[].function.arguments.Location}}, with {{1.message.toolCalls[].function.arguments.Features}}. Viewing?: {{1.message.toolCalls[].function.arguments.Viewing}}",
                                "subject": "New client who wants to sell - {{1.message.toolCalls[].function.arguments.`Name of the client`}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 453,
                                    "y": -344
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}