make-scenarios/scenario.blueprint (9).json
{
    "name": "Jitu Project V2",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 473217
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "BQ",
                            "o": "notexist"
                        }
                    ]
                ],
                "sheetId": "Hoja 1",
                "sortOrder": "asc",
                "spreadsheetId": "1jo2e9CgqxKCJTi9IWlGDWJo7iDPEkCGnmHYIIoP_gIA",
                "tableFirstRow": "A1:DZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 199,
                    "y": -9
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Hoja 1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Jiju Project"
                        },
                        "tableFirstRow": {
                            "label": "A-DZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (tribexagency@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Filing_County (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Filing_State (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Date_Filed (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Case_Number (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Case_Type (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Decedent_First (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Decedent_Middle (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Decedent_Last (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Decedent_Suffix (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Date_Of_Death (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Property_Address (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Property_Unit (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Property_City (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Property_State (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Property_Zip (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Mailing_Address (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Mailing_Unit (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Mailing_City (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Mailing_State (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Mailing_Zip (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Executor_First (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Executor_Middle (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "Executor_Last (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "Executor_Suffix (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Executor_Address (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "Executor_Unit (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "Executor_City (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "Executor_State (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "Executor_Zip (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "Executor_Phone1 (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "Executor_Phone1_Type (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "Executor_Phone2 (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "Executor_Phone2_Type (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "Executor_Phone3 (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "Executor_Phone3_Type (AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "Executor_Phone4 (AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "Executor_Phone4_Type (AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "Executor_Phone5 (AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "Executor_Phone5_Type (AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "Executor_Email1 (AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "Executor_Email2 (AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "Executor_Email3 (AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "Executor_Email4 (AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "Executor_Email5 (AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "Attorney_First (AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "Attorney_Middle (AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "Attorney_Last (AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "Attorney_Suffix (AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "Attorney_Phone (AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "Attorney_Email (AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "Property_Type (AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "Bedrooms (AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "Bathrooms (BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "Building_Sqft (BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "Lot_Size (BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "Year_Built (BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "Total_Assessed_Value (BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "Last_Sale_Date (BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "Last_Sale_Amount (BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "Open_Loans (BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "Remaining_Balance_Of_Open_Loans (BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "Estimated_Value (BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "Estimated_LTV (BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "Estimated_Equity (BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "MLS_Status (BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "MLS_Date (BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "MLS_Amount (BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "Lien_Amount (BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "Call sent? (BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "Call_id (BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    },
                    {
                        "name": "104",
                        "type": "text",
                        "label": "(DA)"
                    },
                    {
                        "name": "105",
                        "type": "text",
                        "label": "(DB)"
                    },
                    {
                        "name": "106",
                        "type": "text",
                        "label": "(DC)"
                    },
                    {
                        "name": "107",
                        "type": "text",
                        "label": "(DD)"
                    },
                    {
                        "name": "108",
                        "type": "text",
                        "label": "(DE)"
                    },
                    {
                        "name": "109",
                        "type": "text",
                        "label": "(DF)"
                    },
                    {
                        "name": "110",
                        "type": "text",
                        "label": "(DG)"
                    },
                    {
                        "name": "111",
                        "type": "text",
                        "label": "(DH)"
                    },
                    {
                        "name": "112",
                        "type": "text",
                        "label": "(DI)"
                    },
                    {
                        "name": "113",
                        "type": "text",
                        "label": "(DJ)"
                    },
                    {
                        "name": "114",
                        "type": "text",
                        "label": "(DK)"
                    },
                    {
                        "name": "115",
                        "type": "text",
                        "label": "(DL)"
                    },
                    {
                        "name": "116",
                        "type": "text",
                        "label": "(DM)"
                    },
                    {
                        "name": "117",
                        "type": "text",
                        "label": "(DN)"
                    },
                    {
                        "name": "118",
                        "type": "text",
                        "label": "(DO)"
                    },
                    {
                        "name": "119",
                        "type": "text",
                        "label": "(DP)"
                    },
                    {
                        "name": "120",
                        "type": "text",
                        "label": "(DQ)"
                    },
                    {
                        "name": "121",
                        "type": "text",
                        "label": "(DR)"
                    },
                    {
                        "name": "122",
                        "type": "text",
                        "label": "(DS)"
                    },
                    {
                        "name": "123",
                        "type": "text",
                        "label": "(DT)"
                    },
                    {
                        "name": "124",
                        "type": "text",
                        "label": "(DU)"
                    },
                    {
                        "name": "125",
                        "type": "text",
                        "label": "(DV)"
                    },
                    {
                        "name": "126",
                        "type": "text",
                        "label": "(DW)"
                    },
                    {
                        "name": "127",
                        "type": "text",
                        "label": "(DX)"
                    },
                    {
                        "name": "128",
                        "type": "text",
                        "label": "(DY)"
                    },
                    {
                        "name": "129",
                        "type": "text",
                        "label": "(DZ)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "retell-ai:CreatePhoneCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7899679
            },
            "mapper": {
                "to_number": "+1{{1.`29`}}",
                "from_number": "+16467381503",
                "override_agent_id": "agent_ac31bc92f0299a1b029c48701b",
                "retell_llm_dynamic_variables": [
                    {
                        "key": "name_client",
                        "value": "{{1.`20`}}"
                    },
                    {
                        "key": "street_name",
                        "value": "{{1.`10`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 652,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "retell_llm_dynamic_variables": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "retell-ai"
                            },
                            "label": "My Retell AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:retell-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from_number",
                        "type": "text",
                        "label": "From Number",
                        "required": true
                    },
                    {
                        "name": "to_number",
                        "type": "text",
                        "label": "To Number",
                        "required": true
                    },
                    {
                        "name": "override_agent_id",
                        "type": "text",
                        "label": "Override Agent ID"
                    },
                    {
                        "name": "retell_llm_dynamic_variables",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Retell LLM Dynamic Variables"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 9,
                    "module": "retell-ai:CreatePhoneCall",
                    "version": 1,
                    "parameters": {
                        "__IMTCONN__": 7899679
                    },
                    "mapper": {
                        "to_number": "+{{1.`31`}}",
                        "from_number": "+16467381503",
                        "override_agent_id": "agent_ac31bc92f0299a1b029c48701b",
                        "retell_llm_dynamic_variables": [
                            {
                                "key": "name_client",
                                "value": "{{1.`20`}}"
                            },
                            {
                                "key": "street_name",
                                "value": "{{1.`10`}}"
                            }
                        ]
                    },
                    "metadata": {
                        "designer": {
                            "x": 952,
                            "y": 149
                        },
                        "restore": {
                            "expect": {
                                "retell_llm_dynamic_variables": {
                                    "mode": "chose",
                                    "items": [
                                        null,
                                        null
                                    ]
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "retell-ai"
                                    },
                                    "label": "My Retell AI connection"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:retell-ai",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "from_number",
                                "type": "text",
                                "label": "From Number",
                                "required": true
                            },
                            {
                                "name": "to_number",
                                "type": "text",
                                "label": "To Number",
                                "required": true
                            },
                            {
                                "name": "override_agent_id",
                                "type": "text",
                                "label": "Override Agent ID"
                            },
                            {
                                "name": "retell_llm_dynamic_variables",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Parameter"
                                },
                                "type": "array",
                                "label": "Retell LLM Dynamic Variables"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 12,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 473217
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "68": "Error sending the call"
                                },
                                "sheetId": "Hoja 1",
                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1jo2e9CgqxKCJTi9IWlGDWJo7iDPEkCGnmHYIIoP_gIA",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1234,
                                    "y": 349
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Hoja 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Jiju Project"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Filing_County (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Filing_State (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Date_Filed (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Case_Number (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Case_Type (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Decedent_First (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Decedent_Middle (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Decedent_Last (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Decedent_Suffix (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Date_Of_Death (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Property_Address (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Property_Unit (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Property_City (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Property_State (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Property_Zip (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Mailing_Address (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Mailing_Unit (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "Mailing_City (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "Mailing_State (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "Mailing_Zip (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "Executor_First (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "Executor_Middle (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "Executor_Last (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "Executor_Suffix (X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Executor_Address (Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Executor_Unit (Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "Executor_City (AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "Executor_State (AB)"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "Executor_Zip (AC)"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "Executor_Phone1 (AD)"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "Executor_Phone1_Type (AE)"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "Executor_Phone2 (AF)"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "Executor_Phone2_Type (AG)"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "Executor_Phone3 (AH)"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "Executor_Phone3_Type (AI)"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "Executor_Phone4 (AJ)"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "Executor_Phone4_Type (AK)"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "Executor_Phone5 (AL)"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "Executor_Phone5_Type (AM)"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "Executor_Email1 (AN)"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "Executor_Email2 (AO)"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "Executor_Email3 (AP)"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "Executor_Email4 (AQ)"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "Executor_Email5 (AR)"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "Attorney_First (AS)"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "Attorney_Middle (AT)"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "Attorney_Last (AU)"
                                                        },
                                                        {
                                                            "name": "47",
                                                            "type": "text",
                                                            "label": "Attorney_Suffix (AV)"
                                                        },
                                                        {
                                                            "name": "48",
                                                            "type": "text",
                                                            "label": "Attorney_Phone (AW)"
                                                        },
                                                        {
                                                            "name": "49",
                                                            "type": "text",
                                                            "label": "Attorney_Email (AX)"
                                                        },
                                                        {
                                                            "name": "50",
                                                            "type": "text",
                                                            "label": "Property_Type (AY)"
                                                        },
                                                        {
                                                            "name": "51",
                                                            "type": "text",
                                                            "label": "Bedrooms (AZ)"
                                                        },
                                                        {
                                                            "name": "52",
                                                            "type": "text",
                                                            "label": "Bathrooms (BA)"
                                                        },
                                                        {
                                                            "name": "53",
                                                            "type": "text",
                                                            "label": "Building_Sqft (BB)"
                                                        },
                                                        {
                                                            "name": "54",
                                                            "type": "text",
                                                            "label": "Lot_Size (BC)"
                                                        },
                                                        {
                                                            "name": "55",
                                                            "type": "text",
                                                            "label": "Year_Built (BD)"
                                                        },
                                                        {
                                                            "name": "56",
                                                            "type": "text",
                                                            "label": "Total_Assessed_Value (BE)"
                                                        },
                                                        {
                                                            "name": "57",
                                                            "type": "text",
                                                            "label": "Last_Sale_Date (BF)"
                                                        },
                                                        {
                                                            "name": "58",
                                                            "type": "text",
                                                            "label": "Last_Sale_Amount (BG)"
                                                        },
                                                        {
                                                            "name": "59",
                                                            "type": "text",
                                                            "label": "Open_Loans (BH)"
                                                        },
                                                        {
                                                            "name": "60",
                                                            "type": "text",
                                                            "label": "Remaining_Balance_Of_Open_Loans (BI)"
                                                        },
                                                        {
                                                            "name": "61",
                                                            "type": "text",
                                                            "label": "Estimated_Value (BJ)"
                                                        },
                                                        {
                                                            "name": "62",
                                                            "type": "text",
                                                            "label": "Estimated_LTV (BK)"
                                                        },
                                                        {
                                                            "name": "63",
                                                            "type": "text",
                                                            "label": "Estimated_Equity (BL)"
                                                        },
                                                        {
                                                            "name": "64",
                                                            "type": "text",
                                                            "label": "MLS_Status (BM)"
                                                        },
                                                        {
                                                            "name": "65",
                                                            "type": "text",
                                                            "label": "MLS_Date (BN)"
                                                        },
                                                        {
                                                            "name": "66",
                                                            "type": "text",
                                                            "label": "MLS_Amount (BO)"
                                                        },
                                                        {
                                                            "name": "67",
                                                            "type": "text",
                                                            "label": "Lien_Amount (BP)"
                                                        },
                                                        {
                                                            "name": "68",
                                                            "type": "text",
                                                            "label": "Call sent? (BQ)"
                                                        },
                                                        {
                                                            "name": "69",
                                                            "type": "text",
                                                            "label": "Call_id (BR)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (tribexagency@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Filing_County (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Filing_State (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Date_Filed (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Case_Number (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Case_Type (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Decedent_First (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Decedent_Middle (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Decedent_Last (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Decedent_Suffix (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Date_Of_Death (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Property_Address (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Property_Unit (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Property_City (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Property_State (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Property_Zip (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Mailing_Address (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Mailing_Unit (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "Mailing_City (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "Mailing_State (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "Mailing_Zip (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "Executor_First (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "Executor_Middle (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "Executor_Last (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "Executor_Suffix (X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Executor_Address (Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Executor_Unit (Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "Executor_City (AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "Executor_State (AB)"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "Executor_Zip (AC)"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "Executor_Phone1 (AD)"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "Executor_Phone1_Type (AE)"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "Executor_Phone2 (AF)"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "Executor_Phone2_Type (AG)"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "Executor_Phone3 (AH)"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "Executor_Phone3_Type (AI)"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "Executor_Phone4 (AJ)"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "Executor_Phone4_Type (AK)"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "Executor_Phone5 (AL)"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "Executor_Phone5_Type (AM)"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "Executor_Email1 (AN)"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "Executor_Email2 (AO)"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "Executor_Email3 (AP)"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "Executor_Email4 (AQ)"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "Executor_Email5 (AR)"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "Attorney_First (AS)"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "Attorney_Middle (AT)"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "Attorney_Last (AU)"
                                            },
                                            {
                                                "name": "47",
                                                "type": "text",
                                                "label": "Attorney_Suffix (AV)"
                                            },
                                            {
                                                "name": "48",
                                                "type": "text",
                                                "label": "Attorney_Phone (AW)"
                                            },
                                            {
                                                "name": "49",
                                                "type": "text",
                                                "label": "Attorney_Email (AX)"
                                            },
                                            {
                                                "name": "50",
                                                "type": "text",
                                                "label": "Property_Type (AY)"
                                            },
                                            {
                                                "name": "51",
                                                "type": "text",
                                                "label": "Bedrooms (AZ)"
                                            },
                                            {
                                                "name": "52",
                                                "type": "text",
                                                "label": "Bathrooms (BA)"
                                            },
                                            {
                                                "name": "53",
                                                "type": "text",
                                                "label": "Building_Sqft (BB)"
                                            },
                                            {
                                                "name": "54",
                                                "type": "text",
                                                "label": "Lot_Size (BC)"
                                            },
                                            {
                                                "name": "55",
                                                "type": "text",
                                                "label": "Year_Built (BD)"
                                            },
                                            {
                                                "name": "56",
                                                "type": "text",
                                                "label": "Total_Assessed_Value (BE)"
                                            },
                                            {
                                                "name": "57",
                                                "type": "text",
                                                "label": "Last_Sale_Date (BF)"
                                            },
                                            {
                                                "name": "58",
                                                "type": "text",
                                                "label": "Last_Sale_Amount (BG)"
                                            },
                                            {
                                                "name": "59",
                                                "type": "text",
                                                "label": "Open_Loans (BH)"
                                            },
                                            {
                                                "name": "60",
                                                "type": "text",
                                                "label": "Remaining_Balance_Of_Open_Loans (BI)"
                                            },
                                            {
                                                "name": "61",
                                                "type": "text",
                                                "label": "Estimated_Value (BJ)"
                                            },
                                            {
                                                "name": "62",
                                                "type": "text",
                                                "label": "Estimated_LTV (BK)"
                                            },
                                            {
                                                "name": "63",
                                                "type": "text",
                                                "label": "Estimated_Equity (BL)"
                                            },
                                            {
                                                "name": "64",
                                                "type": "text",
                                                "label": "MLS_Status (BM)"
                                            },
                                            {
                                                "name": "65",
                                                "type": "text",
                                                "label": "MLS_Date (BN)"
                                            },
                                            {
                                                "name": "66",
                                                "type": "text",
                                                "label": "MLS_Amount (BO)"
                                            },
                                            {
                                                "name": "67",
                                                "type": "text",
                                                "label": "Lien_Amount (BP)"
                                            },
                                            {
                                                "name": "68",
                                                "type": "text",
                                                "label": "Call sent? (BQ)"
                                            },
                                            {
                                                "name": "69",
                                                "type": "text",
                                                "label": "Call_id (BR)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "builtin:Resume",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "call_id": "",
                                "latency": {
                                    "e2e": {
                                        "max": "",
                                        "min": "",
                                        "num": "",
                                        "p50": "",
                                        "p90": "",
                                        "p95": "",
                                        "p99": "",
                                        "values": []
                                    },
                                    "llm": {
                                        "max": "",
                                        "min": "",
                                        "num": "",
                                        "p50": "",
                                        "p90": "",
                                        "p95": "",
                                        "p99": "",
                                        "values": []
                                    }
                                },
                                "agent_id": "",
                                "metadata": {},
                                "call_type": "",
                                "direction": "",
                                "to_number": "",
                                "call_status": "",
                                "from_number": "",
                                "public_log_url": "",
                                "retell_llm_dynamic_variables": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1519,
                                    "y": 459
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "call_type",
                                        "type": "text",
                                        "label": "Call Type"
                                    },
                                    {
                                        "name": "from_number",
                                        "type": "text",
                                        "label": "From Number"
                                    },
                                    {
                                        "name": "to_number",
                                        "type": "text",
                                        "label": "To Number"
                                    },
                                    {
                                        "name": "direction",
                                        "type": "text",
                                        "label": "Direction"
                                    },
                                    {
                                        "name": "call_id",
                                        "type": "text",
                                        "label": "Call ID"
                                    },
                                    {
                                        "name": "agent_id",
                                        "type": "text",
                                        "label": "Agent ID"
                                    },
                                    {
                                        "name": "call_status",
                                        "type": "text",
                                        "label": "Call Status"
                                    },
                                    {
                                        "name": "metadata",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Metadata"
                                    },
                                    {
                                        "name": "retell_llm_dynamic_variables",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Retell Llm Dynamic Variables"
                                    },
                                    {
                                        "name": "opt_out_sensitive_data_storage",
                                        "type": "boolean",
                                        "label": "Opt Out Sensitive Data Storage"
                                    },
                                    {
                                        "name": "public_log_url",
                                        "type": "text",
                                        "label": "Public Log Url"
                                    },
                                    {
                                        "name": "latency",
                                        "spec": [
                                            {
                                                "name": "e2e",
                                                "spec": [
                                                    {
                                                        "name": "p50",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "p90",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "p95",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "p99",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "max",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "min",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "num",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "number"
                                                        },
                                                        "type": "array"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            {
                                                "name": "llm",
                                                "spec": [
                                                    {
                                                        "name": "p50",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "p90",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "p95",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "p99",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "max",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "min",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "num",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "number"
                                                        },
                                                        "type": "array"
                                                    }
                                                ],
                                                "type": "collection"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Latency"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "id": 10,
                    "module": "google-sheets:updateRow",
                    "version": 2,
                    "parameters": {
                        "__IMTCONN__": 473217
                    },
                    "mapper": {
                        "from": "drive",
                        "mode": "select",
                        "values": {
                            "68": "Call sent in {{formatDate(now; \"MM/DD/YYYY\")}}",
                            "69": "{{3.call_id}}"
                        },
                        "sheetId": "Hoja 1",
                        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "/1jo2e9CgqxKCJTi9IWlGDWJo7iDPEkCGnmHYIIoP_gIA",
                        "includesHeaders": true,
                        "valueInputOption": "USER_ENTERED"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1252,
                            "y": -1
                        },
                        "restore": {
                            "expect": {
                                "from": {
                                    "label": "My Drive"
                                },
                                "mode": {
                                    "label": "Search by path"
                                },
                                "sheetId": {
                                    "label": "Hoja 1"
                                },
                                "spreadsheetId": {
                                    "path": [
                                        "Jiju Project"
                                    ]
                                },
                                "includesHeaders": {
                                    "label": "Yes",
                                    "nested": [
                                        {
                                            "name": "values",
                                            "spec": [
                                                {
                                                    "name": "0",
                                                    "type": "text",
                                                    "label": "Filing_County (A)"
                                                },
                                                {
                                                    "name": "1",
                                                    "type": "text",
                                                    "label": "Filing_State (B)"
                                                },
                                                {
                                                    "name": "2",
                                                    "type": "text",
                                                    "label": "Date_Filed (C)"
                                                },
                                                {
                                                    "name": "3",
                                                    "type": "text",
                                                    "label": "Case_Number (D)"
                                                },
                                                {
                                                    "name": "4",
                                                    "type": "text",
                                                    "label": "Case_Type (E)"
                                                },
                                                {
                                                    "name": "5",
                                                    "type": "text",
                                                    "label": "Decedent_First (F)"
                                                },
                                                {
                                                    "name": "6",
                                                    "type": "text",
                                                    "label": "Decedent_Middle (G)"
                                                },
                                                {
                                                    "name": "7",
                                                    "type": "text",
                                                    "label": "Decedent_Last (H)"
                                                },
                                                {
                                                    "name": "8",
                                                    "type": "text",
                                                    "label": "Decedent_Suffix (I)"
                                                },
                                                {
                                                    "name": "9",
                                                    "type": "text",
                                                    "label": "Date_Of_Death (J)"
                                                },
                                                {
                                                    "name": "10",
                                                    "type": "text",
                                                    "label": "Property_Address (K)"
                                                },
                                                {
                                                    "name": "11",
                                                    "type": "text",
                                                    "label": "Property_Unit (L)"
                                                },
                                                {
                                                    "name": "12",
                                                    "type": "text",
                                                    "label": "Property_City (M)"
                                                },
                                                {
                                                    "name": "13",
                                                    "type": "text",
                                                    "label": "Property_State (N)"
                                                },
                                                {
                                                    "name": "14",
                                                    "type": "text",
                                                    "label": "Property_Zip (O)"
                                                },
                                                {
                                                    "name": "15",
                                                    "type": "text",
                                                    "label": "Mailing_Address (P)"
                                                },
                                                {
                                                    "name": "16",
                                                    "type": "text",
                                                    "label": "Mailing_Unit (Q)"
                                                },
                                                {
                                                    "name": "17",
                                                    "type": "text",
                                                    "label": "Mailing_City (R)"
                                                },
                                                {
                                                    "name": "18",
                                                    "type": "text",
                                                    "label": "Mailing_State (S)"
                                                },
                                                {
                                                    "name": "19",
                                                    "type": "text",
                                                    "label": "Mailing_Zip (T)"
                                                },
                                                {
                                                    "name": "20",
                                                    "type": "text",
                                                    "label": "Executor_First (U)"
                                                },
                                                {
                                                    "name": "21",
                                                    "type": "text",
                                                    "label": "Executor_Middle (V)"
                                                },
                                                {
                                                    "name": "22",
                                                    "type": "text",
                                                    "label": "Executor_Last (W)"
                                                },
                                                {
                                                    "name": "23",
                                                    "type": "text",
                                                    "label": "Executor_Suffix (X)"
                                                },
                                                {
                                                    "name": "24",
                                                    "type": "text",
                                                    "label": "Executor_Address (Y)"
                                                },
                                                {
                                                    "name": "25",
                                                    "type": "text",
                                                    "label": "Executor_Unit (Z)"
                                                },
                                                {
                                                    "name": "26",
                                                    "type": "text",
                                                    "label": "Executor_City (AA)"
                                                },
                                                {
                                                    "name": "27",
                                                    "type": "text",
                                                    "label": "Executor_State (AB)"
                                                },
                                                {
                                                    "name": "28",
                                                    "type": "text",
                                                    "label": "Executor_Zip (AC)"
                                                },
                                                {
                                                    "name": "29",
                                                    "type": "text",
                                                    "label": "Executor_Phone1 (AD)"
                                                },
                                                {
                                                    "name": "30",
                                                    "type": "text",
                                                    "label": "Executor_Phone1_Type (AE)"
                                                },
                                                {
                                                    "name": "31",
                                                    "type": "text",
                                                    "label": "Executor_Phone2 (AF)"
                                                },
                                                {
                                                    "name": "32",
                                                    "type": "text",
                                                    "label": "Executor_Phone2_Type (AG)"
                                                },
                                                {
                                                    "name": "33",
                                                    "type": "text",
                                                    "label": "Executor_Phone3 (AH)"
                                                },
                                                {
                                                    "name": "34",
                                                    "type": "text",
                                                    "label": "Executor_Phone3_Type (AI)"
                                                },
                                                {
                                                    "name": "35",
                                                    "type": "text",
                                                    "label": "Executor_Phone4 (AJ)"
                                                },
                                                {
                                                    "name": "36",
                                                    "type": "text",
                                                    "label": "Executor_Phone4_Type (AK)"
                                                },
                                                {
                                                    "name": "37",
                                                    "type": "text",
                                                    "label": "Executor_Phone5 (AL)"
                                                },
                                                {
                                                    "name": "38",
                                                    "type": "text",
                                                    "label": "Executor_Phone5_Type (AM)"
                                                },
                                                {
                                                    "name": "39",
                                                    "type": "text",
                                                    "label": "Executor_Email1 (AN)"
                                                },
                                                {
                                                    "name": "40",
                                                    "type": "text",
                                                    "label": "Executor_Email2 (AO)"
                                                },
                                                {
                                                    "name": "41",
                                                    "type": "text",
                                                    "label": "Executor_Email3 (AP)"
                                                },
                                                {
                                                    "name": "42",
                                                    "type": "text",
                                                    "label": "Executor_Email4 (AQ)"
                                                },
                                                {
                                                    "name": "43",
                                                    "type": "text",
                                                    "label": "Executor_Email5 (AR)"
                                                },
                                                {
                                                    "name": "44",
                                                    "type": "text",
                                                    "label": "Attorney_First (AS)"
                                                },
                                                {
                                                    "name": "45",
                                                    "type": "text",
                                                    "label": "Attorney_Middle (AT)"
                                                },
                                                {
                                                    "name": "46",
                                                    "type": "text",
                                                    "label": "Attorney_Last (AU)"
                                                },
                                                {
                                                    "name": "47",
                                                    "type": "text",
                                                    "label": "Attorney_Suffix (AV)"
                                                },
                                                {
                                                    "name": "48",
                                                    "type": "text",
                                                    "label": "Attorney_Phone (AW)"
                                                },
                                                {
                                                    "name": "49",
                                                    "type": "text",
                                                    "label": "Attorney_Email (AX)"
                                                },
                                                {
                                                    "name": "50",
                                                    "type": "text",
                                                    "label": "Property_Type (AY)"
                                                },
                                                {
                                                    "name": "51",
                                                    "type": "text",
                                                    "label": "Bedrooms (AZ)"
                                                },
                                                {
                                                    "name": "52",
                                                    "type": "text",
                                                    "label": "Bathrooms (BA)"
                                                },
                                                {
                                                    "name": "53",
                                                    "type": "text",
                                                    "label": "Building_Sqft (BB)"
                                                },
                                                {
                                                    "name": "54",
                                                    "type": "text",
                                                    "label": "Lot_Size (BC)"
                                                },
                                                {
                                                    "name": "55",
                                                    "type": "text",
                                                    "label": "Year_Built (BD)"
                                                },
                                                {
                                                    "name": "56",
                                                    "type": "text",
                                                    "label": "Total_Assessed_Value (BE)"
                                                },
                                                {
                                                    "name": "57",
                                                    "type": "text",
                                                    "label": "Last_Sale_Date (BF)"
                                                },
                                                {
                                                    "name": "58",
                                                    "type": "text",
                                                    "label": "Last_Sale_Amount (BG)"
                                                },
                                                {
                                                    "name": "59",
                                                    "type": "text",
                                                    "label": "Open_Loans (BH)"
                                                },
                                                {
                                                    "name": "60",
                                                    "type": "text",
                                                    "label": "Remaining_Balance_Of_Open_Loans (BI)"
                                                },
                                                {
                                                    "name": "61",
                                                    "type": "text",
                                                    "label": "Estimated_Value (BJ)"
                                                },
                                                {
                                                    "name": "62",
                                                    "type": "text",
                                                    "label": "Estimated_LTV (BK)"
                                                },
                                                {
                                                    "name": "63",
                                                    "type": "text",
                                                    "label": "Estimated_Equity (BL)"
                                                },
                                                {
                                                    "name": "64",
                                                    "type": "text",
                                                    "label": "MLS_Status (BM)"
                                                },
                                                {
                                                    "name": "65",
                                                    "type": "text",
                                                    "label": "MLS_Date (BN)"
                                                },
                                                {
                                                    "name": "66",
                                                    "type": "text",
                                                    "label": "MLS_Amount (BO)"
                                                },
                                                {
                                                    "name": "67",
                                                    "type": "text",
                                                    "label": "Lien_Amount (BP)"
                                                },
                                                {
                                                    "name": "68",
                                                    "type": "text",
                                                    "label": "Call sent? (BQ)"
                                                },
                                                {
                                                    "name": "69",
                                                    "type": "text",
                                                    "label": "Call_id (BR)"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Values"
                                        }
                                    ]
                                },
                                "valueInputOption": {
                                    "mode": "chose",
                                    "label": "User entered"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google"
                                    },
                                    "label": "My Google connection (tribexagency@gmail.com)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:google",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "mode",
                                "type": "select",
                                "label": "Search Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "select",
                                        "fromAll",
                                        "map"
                                    ]
                                }
                            },
                            {
                                "name": "valueInputOption",
                                "type": "select",
                                "label": "Value input option",
                                "validate": {
                                    "enum": [
                                        "USER_ENTERED",
                                        "RAW"
                                    ]
                                }
                            },
                            {
                                "name": "from",
                                "type": "select",
                                "label": "Drive",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "drive",
                                        "share",
                                        "team"
                                    ]
                                }
                            },
                            {
                                "name": "spreadsheetId",
                                "type": "file",
                                "label": "Spreadsheet ID",
                                "required": true
                            },
                            {
                                "name": "sheetId",
                                "type": "select",
                                "label": "Sheet Name",
                                "required": true
                            },
                            {
                                "name": "rowNumber",
                                "type": "uinteger",
                                "label": "Row number",
                                "required": true
                            },
                            {
                                "name": "includesHeaders",
                                "type": "select",
                                "label": "Table contains headers",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        true,
                                        false
                                    ]
                                }
                            },
                            {
                                "name": "values",
                                "spec": [
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Filing_County (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Filing_State (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Date_Filed (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Case_Number (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Case_Type (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Decedent_First (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Decedent_Middle (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "Decedent_Last (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "Decedent_Suffix (I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "Date_Of_Death (J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "Property_Address (K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "Property_Unit (L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "Property_City (M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "Property_State (N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "Property_Zip (O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "Mailing_Address (P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "Mailing_Unit (Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "Mailing_City (R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "Mailing_State (S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "Mailing_Zip (T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "Executor_First (U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "Executor_Middle (V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "Executor_Last (W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "Executor_Suffix (X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "Executor_Address (Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "Executor_Unit (Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "Executor_City (AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "Executor_State (AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "Executor_Zip (AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "Executor_Phone1 (AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "Executor_Phone1_Type (AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "Executor_Phone2 (AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "Executor_Phone2_Type (AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "Executor_Phone3 (AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "Executor_Phone3_Type (AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "Executor_Phone4 (AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "Executor_Phone4_Type (AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "Executor_Phone5 (AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "Executor_Phone5_Type (AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "Executor_Email1 (AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "Executor_Email2 (AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "Executor_Email3 (AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "Executor_Email4 (AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "Executor_Email5 (AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "Attorney_First (AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "Attorney_Middle (AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "Attorney_Last (AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "Attorney_Suffix (AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "Attorney_Phone (AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "Attorney_Email (AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "Property_Type (AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "Bedrooms (AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "Bathrooms (BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "Building_Sqft (BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "Lot_Size (BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "Year_Built (BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "Total_Assessed_Value (BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "Last_Sale_Date (BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "Last_Sale_Amount (BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "Open_Loans (BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "Remaining_Balance_Of_Open_Loans (BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "Estimated_Value (BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "Estimated_LTV (BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "Estimated_Equity (BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "MLS_Status (BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "MLS_Date (BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "MLS_Amount (BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "Lien_Amount (BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "Call sent? (BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "Call_id (BR)"
                                    }
                                ],
                                "type": "collection",
                                "label": "Values"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 6,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 473217
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "68": "Call sent in {{formatDate(now; \"MM/DD/YYYY\")}}",
                    "69": "{{3.call_id}}"
                },
                "sheetId": "Hoja 1",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1jo2e9CgqxKCJTi9IWlGDWJo7iDPEkCGnmHYIIoP_gIA",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 952,
                    "y": -151
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Jiju Project"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Filing_County (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Filing_State (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Date_Filed (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Case_Number (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Case_Type (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Decedent_First (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Decedent_Middle (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Decedent_Last (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Decedent_Suffix (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Date_Of_Death (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Property_Address (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Property_Unit (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Property_City (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Property_State (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Property_Zip (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "Mailing_Address (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Mailing_Unit (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "Mailing_City (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "Mailing_State (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "Mailing_Zip (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "Executor_First (U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "Executor_Middle (V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "Executor_Last (W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "Executor_Suffix (X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Executor_Address (Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Executor_Unit (Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "Executor_City (AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "Executor_State (AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "Executor_Zip (AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "Executor_Phone1 (AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "Executor_Phone1_Type (AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "Executor_Phone2 (AF)"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "Executor_Phone2_Type (AG)"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "Executor_Phone3 (AH)"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "Executor_Phone3_Type (AI)"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "Executor_Phone4 (AJ)"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "Executor_Phone4_Type (AK)"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "Executor_Phone5 (AL)"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "Executor_Phone5_Type (AM)"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "Executor_Email1 (AN)"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "Executor_Email2 (AO)"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "Executor_Email3 (AP)"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "Executor_Email4 (AQ)"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "Executor_Email5 (AR)"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "Attorney_First (AS)"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "Attorney_Middle (AT)"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "Attorney_Last (AU)"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "Attorney_Suffix (AV)"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "Attorney_Phone (AW)"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "Attorney_Email (AX)"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "Property_Type (AY)"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "Bedrooms (AZ)"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "Bathrooms (BA)"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "Building_Sqft (BB)"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "Lot_Size (BC)"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "Year_Built (BD)"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "Total_Assessed_Value (BE)"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "Last_Sale_Date (BF)"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "Last_Sale_Amount (BG)"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "Open_Loans (BH)"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "Remaining_Balance_Of_Open_Loans (BI)"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "Estimated_Value (BJ)"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "Estimated_LTV (BK)"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "Estimated_Equity (BL)"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "MLS_Status (BM)"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "MLS_Date (BN)"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "MLS_Amount (BO)"
                                        },
                                        {
                                            "name": "67",
                                            "type": "text",
                                            "label": "Lien_Amount (BP)"
                                        },
                                        {
                                            "name": "68",
                                            "type": "text",
                                            "label": "Call sent? (BQ)"
                                        },
                                        {
                                            "name": "69",
                                            "type": "text",
                                            "label": "Call_id (BR)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (tribexagency@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Filing_County (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Filing_State (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Date_Filed (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Case_Number (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Case_Type (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Decedent_First (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Decedent_Middle (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Decedent_Last (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Decedent_Suffix (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Date_Of_Death (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Property_Address (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Property_Unit (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Property_City (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Property_State (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Property_Zip (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Mailing_Address (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Mailing_Unit (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "Mailing_City (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "Mailing_State (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "Mailing_Zip (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "Executor_First (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "Executor_Middle (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "Executor_Last (W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "Executor_Suffix (X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Executor_Address (Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Executor_Unit (Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "Executor_City (AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "Executor_State (AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "Executor_Zip (AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "Executor_Phone1 (AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "Executor_Phone1_Type (AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "Executor_Phone2 (AF)"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "Executor_Phone2_Type (AG)"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "Executor_Phone3 (AH)"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "Executor_Phone3_Type (AI)"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "Executor_Phone4 (AJ)"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "Executor_Phone4_Type (AK)"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "Executor_Phone5 (AL)"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "Executor_Phone5_Type (AM)"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "Executor_Email1 (AN)"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "Executor_Email2 (AO)"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "Executor_Email3 (AP)"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "Executor_Email4 (AQ)"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "Executor_Email5 (AR)"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "Attorney_First (AS)"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "Attorney_Middle (AT)"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "Attorney_Last (AU)"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "Attorney_Suffix (AV)"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "Attorney_Phone (AW)"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "Attorney_Email (AX)"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "Property_Type (AY)"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "Bedrooms (AZ)"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "Bathrooms (BA)"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "Building_Sqft (BB)"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "Lot_Size (BC)"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "Year_Built (BD)"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "Total_Assessed_Value (BE)"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "Last_Sale_Date (BF)"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "Last_Sale_Amount (BG)"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "Open_Loans (BH)"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "Remaining_Balance_Of_Open_Loans (BI)"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "Estimated_Value (BJ)"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "Estimated_LTV (BK)"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "Estimated_Equity (BL)"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "MLS_Status (BM)"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "MLS_Date (BN)"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "MLS_Amount (BO)"
                            },
                            {
                                "name": "67",
                                "type": "text",
                                "label": "Lien_Amount (BP)"
                            },
                            {
                                "name": "68",
                                "type": "text",
                                "label": "Call sent? (BQ)"
                            },
                            {
                                "name": "69",
                                "type": "text",
                                "label": "Call_id (BR)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}