make-scenarios/VAPI-Integration Google Forms.json
{
    "name": "Integration Google Forms (copy)",
    "flow": [
        {
            "id": 1,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "limit": 2,
                "formId": "1mQSj0fJCeUoRRfuHTOo9qEiz9BT9XT_U0LeXPQu6Eg8",
                "__IMTCONN__": 473217
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -206,
                    "y": -12
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (tribexagency@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 94,
                    "y": -12
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 1520142
                            },
                            "filter": {
                                "name": "Menos de 5 años",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.answers.`1e4d6ffc`.textAnswers.answers[].value}}",
                                            "b": "5",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{1.answers.`67ab3c3a`.textAnswers.answers[].value}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hola {{1.answers.`24b2f24d`.textAnswers.answers[].value}}, muchas gracias por haber mostrado un gran interés en unirte a nuestra empresa y haber redactado una solicitud.\n\nSin embargo, hemos decidido no aceptar tu solicitud debido a que actualmente estamos buscando perfiles diferentes al tuyo. Aún así, aagradecemos mucho tu interés\n\nMuchas gracias",
                                "subject": "Decisión sobre Oferta de Trabajo Cadena de Abogados",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 394,
                                    "y": -162
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (fueradolorlumbar@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "filter": {
                                "name": "A partir de 5 años",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.answers.`1e4d6ffc`.textAnswers.answers[].value}}",
                                            "b": "5",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 394,
                                    "y": 138
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 11,
                                            "module": "google-email:ActionSendEmail",
                                            "version": 2,
                                            "parameters": {
                                                "account": 1520142
                                            },
                                            "filter": {
                                                "name": "No en esas unis",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                            "b": "Oxford",
                                                            "o": "text:notequal"
                                                        },
                                                        {
                                                            "a": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                            "b": "Cambridge",
                                                            "o": "text:notequal"
                                                        },
                                                        {
                                                            "a": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                            "b": "Ivy League",
                                                            "o": "text:notequal"
                                                        },
                                                        {
                                                            "a": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                            "b": "Londres",
                                                            "o": "text:notequal"
                                                        },
                                                        {
                                                            "a": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                            "b": "Paris",
                                                            "o": "text:notequal"
                                                        },
                                                        {
                                                            "a": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                            "b": "Manchester",
                                                            "o": "text:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "cc": [],
                                                "to": [
                                                    "{{1.answers.`67ab3c3a`.textAnswers.answers[].value}}"
                                                ],
                                                "bcc": [],
                                                "from": "",
                                                "html": "Hola {{1.answers.`24b2f24d`.textAnswers.answers[].value}}, muchas gracias por haber mostrado un gran interés en unirte a nuestra empresa y haber redactado una solicitud.\n\nSin embargo, hemos decidido no aceptar tu solicitud debido a que actualmente estamos buscando perfiles diferentes al tuyo. Aún así, aagradecemos mucho tu interés\n\nMuchas gracias",
                                                "subject": "Decisión sobre Oferta de Trabajo Cadena de Abogados",
                                                "attachments": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 694,
                                                    "y": -12
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "account": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-restricted"
                                                            },
                                                            "label": "My Google Restricted connection (fueradolorlumbar@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "account",
                                                        "type": "account:google-restricted",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "from",
                                                        "type": "text",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "html",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": [
                                                            {
                                                                "name": "fileName",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            },
                                                            {
                                                                "name": "cid",
                                                                "type": "text",
                                                                "label": "Content-ID"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Email address"
                                                        },
                                                        "type": "array",
                                                        "label": "Copy recipient"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Email address"
                                                        },
                                                        "type": "array",
                                                        "label": "Blind copy recipient"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 12,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "parameters": {
                                                "else": 1
                                            },
                                            "filter": {
                                                "name": "Dentro de esas unis",
                                                "conditions": []
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 694,
                                                    "y": 288
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 13,
                                                            "module": "google-email:ActionSendEmail",
                                                            "version": 2,
                                                            "parameters": {
                                                                "account": 1520142
                                                            },
                                                            "filter": {
                                                                "name": "Solo carrera",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{1.answers.`4ee98fe0`.textAnswers.answers[].value}}",
                                                                            "b": "Carrera",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "cc": [],
                                                                "to": [
                                                                    "{{1.answers.`67ab3c3a`.textAnswers.answers[].value}}"
                                                                ],
                                                                "bcc": [],
                                                                "from": "",
                                                                "html": "Hola {{1.answers.`24b2f24d`.textAnswers.answers[].value}}, muchas gracias por haber mostrado un gran interés en unirte a nuestra empresa y haber redactado una solicitud.\n\nSin embargo, hemos decidido no aceptar tu solicitud debido a que actualmente estamos buscando perfiles diferentes al tuyo. Aún así, aagradecemos mucho tu interés\n\nMuchas gracias",
                                                                "subject": "Decisión sobre Oferta de Trabajo Cadena de Abogados",
                                                                "attachments": []
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 994,
                                                                    "y": 138
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "cc": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "to": {
                                                                            "mode": "chose",
                                                                            "items": [
                                                                                null
                                                                            ]
                                                                        },
                                                                        "bcc": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "attachments": {
                                                                            "mode": "chose"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "account": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "google-restricted"
                                                                            },
                                                                            "label": "My Google Restricted connection (fueradolorlumbar@gmail.com)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "account",
                                                                        "type": "account:google-restricted",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "from",
                                                                        "type": "text",
                                                                        "label": "From"
                                                                    },
                                                                    {
                                                                        "name": "to",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address",
                                                                            "required": true
                                                                        },
                                                                        "type": "array",
                                                                        "label": "To",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "subject",
                                                                        "type": "text",
                                                                        "label": "Subject"
                                                                    },
                                                                    {
                                                                        "name": "html",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "attachments",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            },
                                                                            {
                                                                                "name": "cid",
                                                                                "type": "text",
                                                                                "label": "Content-ID"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Attachments"
                                                                    },
                                                                    {
                                                                        "name": "cc",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Copy recipient"
                                                                    },
                                                                    {
                                                                        "name": "bcc",
                                                                        "spec": {
                                                                            "name": "value",
                                                                            "type": "email",
                                                                            "label": "Email address"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Blind copy recipient"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 14,
                                                            "module": "builtin:BasicRouter",
                                                            "version": 1,
                                                            "parameters": {
                                                                "else": 1
                                                            },
                                                            "filter": {
                                                                "name": "Resto",
                                                                "conditions": []
                                                            },
                                                            "mapper": null,
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 994,
                                                                    "y": 438
                                                                }
                                                            },
                                                            "routes": [
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 15,
                                                                            "module": "google-email:ActionSendEmail",
                                                                            "version": 2,
                                                                            "parameters": {
                                                                                "account": 1520142
                                                                            },
                                                                            "filter": {
                                                                                "name": "Gente mayor de 40 años",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{1.answers.`67ee2147`.textAnswers.answers[].value}}",
                                                                                            "b": "1984-01-01",
                                                                                            "o": "date:lessorequal"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": {
                                                                                "cc": [],
                                                                                "to": [
                                                                                    "{{1.answers.`67ab3c3a`.textAnswers.answers[].value}}"
                                                                                ],
                                                                                "bcc": [],
                                                                                "from": "",
                                                                                "html": "Hola {{1.answers.`24b2f24d`.textAnswers.answers[].value}}, muchas gracias por haber mostrado un gran interés en unirte a nuestra empresa y haber redactado una solicitud.\n\nSin embargo, hemos decidido no aceptar tu solicitud debido a que actualmente estamos buscando perfiles diferentes al tuyo. Aún así, aagradecemos mucho tu interés\n\nMuchas gracias",
                                                                                "subject": "Decisión sobre Oferta de Trabajo Cadena de Abogados",
                                                                                "attachments": []
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 1294,
                                                                                    "y": 288
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "cc": {
                                                                                            "mode": "chose"
                                                                                        },
                                                                                        "to": {
                                                                                            "mode": "chose",
                                                                                            "items": [
                                                                                                null
                                                                                            ]
                                                                                        },
                                                                                        "bcc": {
                                                                                            "mode": "chose"
                                                                                        },
                                                                                        "attachments": {
                                                                                            "mode": "chose"
                                                                                        }
                                                                                    },
                                                                                    "parameters": {
                                                                                        "account": {
                                                                                            "data": {
                                                                                                "scoped": "true",
                                                                                                "connection": "google-restricted"
                                                                                            },
                                                                                            "label": "My Google Restricted connection (fueradolorlumbar@gmail.com)"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "account",
                                                                                        "type": "account:google-restricted",
                                                                                        "label": "Connection",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "from",
                                                                                        "type": "text",
                                                                                        "label": "From"
                                                                                    },
                                                                                    {
                                                                                        "name": "to",
                                                                                        "spec": {
                                                                                            "name": "value",
                                                                                            "type": "email",
                                                                                            "label": "Email address",
                                                                                            "required": true
                                                                                        },
                                                                                        "type": "array",
                                                                                        "label": "To",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "subject",
                                                                                        "type": "text",
                                                                                        "label": "Subject"
                                                                                    },
                                                                                    {
                                                                                        "name": "html",
                                                                                        "type": "text",
                                                                                        "label": "Content"
                                                                                    },
                                                                                    {
                                                                                        "name": "attachments",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "fileName",
                                                                                                "type": "filename",
                                                                                                "label": "File name",
                                                                                                "required": true,
                                                                                                "semantic": "file:name"
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "buffer",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "semantic": "file:data"
                                                                                            },
                                                                                            {
                                                                                                "name": "cid",
                                                                                                "type": "text",
                                                                                                "label": "Content-ID"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Attachments"
                                                                                    },
                                                                                    {
                                                                                        "name": "cc",
                                                                                        "spec": {
                                                                                            "name": "value",
                                                                                            "type": "email",
                                                                                            "label": "Email address"
                                                                                        },
                                                                                        "type": "array",
                                                                                        "label": "Copy recipient"
                                                                                    },
                                                                                    {
                                                                                        "name": "bcc",
                                                                                        "spec": {
                                                                                            "name": "value",
                                                                                            "type": "email",
                                                                                            "label": "Email address"
                                                                                        },
                                                                                        "type": "array",
                                                                                        "label": "Blind copy recipient"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 21,
                                                                            "module": "google-sheets:addRow",
                                                                            "version": 2,
                                                                            "parameters": {
                                                                                "__IMTCONN__": 473217
                                                                            },
                                                                            "filter": {
                                                                                "name": "Menos de 40 años",
                                                                                "conditions": []
                                                                            },
                                                                            "mapper": {
                                                                                "from": "drive",
                                                                                "mode": "select",
                                                                                "values": {
                                                                                    "0": "{{1.answers.`24b2f24d`.textAnswers.answers[].value}}",
                                                                                    "1": "{{1.answers.`67ab3c3a`.textAnswers.answers[].value}}",
                                                                                    "2": "{{1.answers.`67ee2147`.textAnswers.answers[].value}}",
                                                                                    "3": "{{1.answers.`1e4d6ffc`.textAnswers.answers[].value}}",
                                                                                    "4": "{{1.answers.`2303b6cb`.textAnswers.answers[].value}}",
                                                                                    "5": "{{1.answers.`4ee98fe0`.textAnswers.answers[].value}}",
                                                                                    "6": "{{1.answers.`4630091f`.textAnswers.answers[].value}}"
                                                                                },
                                                                                "sheetId": "Hoja 1",
                                                                                "spreadsheetId": "/108cIGPTStIl0pzt46ZCcpO8zJemcmhP9Ue5z4Bc-lT4",
                                                                                "includesHeaders": true,
                                                                                "insertDataOption": "INSERT_ROWS",
                                                                                "valueInputOption": "USER_ENTERED",
                                                                                "insertUnformatted": false
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 1400,
                                                                                    "y": 647
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "from": {
                                                                                            "label": "My Drive"
                                                                                        },
                                                                                        "mode": {
                                                                                            "label": "Search by path"
                                                                                        },
                                                                                        "sheetId": {
                                                                                            "label": "Hoja 1"
                                                                                        },
                                                                                        "spreadsheetId": {
                                                                                            "path": [
                                                                                                "Clasificación Oferta Trabajo"
                                                                                            ]
                                                                                        },
                                                                                        "includesHeaders": {
                                                                                            "label": "Yes",
                                                                                            "nested": [
                                                                                                {
                                                                                                    "name": "values",
                                                                                                    "spec": [
                                                                                                        {
                                                                                                            "name": "0",
                                                                                                            "type": "text",
                                                                                                            "label": "Nombre (A)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "1",
                                                                                                            "type": "text",
                                                                                                            "label": "Correo electrónico (B)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "2",
                                                                                                            "type": "text",
                                                                                                            "label": "Fecha de nacimiento (C)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "3",
                                                                                                            "type": "text",
                                                                                                            "label": "Años de experiencia (D)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "4",
                                                                                                            "type": "text",
                                                                                                            "label": "Dónde estudió (E)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "5",
                                                                                                            "type": "text",
                                                                                                            "label": "Formación (F)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "6",
                                                                                                            "type": "text",
                                                                                                            "label": "Perfil LinkedIn (G)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "7",
                                                                                                            "type": "text",
                                                                                                            "label": "Fecha Llamada (H)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "8",
                                                                                                            "type": "text",
                                                                                                            "label": "(I)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "9",
                                                                                                            "type": "text",
                                                                                                            "label": "(J)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "10",
                                                                                                            "type": "text",
                                                                                                            "label": "(K)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "11",
                                                                                                            "type": "text",
                                                                                                            "label": "(L)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "12",
                                                                                                            "type": "text",
                                                                                                            "label": "(M)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "13",
                                                                                                            "type": "text",
                                                                                                            "label": "(N)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "14",
                                                                                                            "type": "text",
                                                                                                            "label": "(O)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "15",
                                                                                                            "type": "text",
                                                                                                            "label": "(P)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "16",
                                                                                                            "type": "text",
                                                                                                            "label": "(Q)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "17",
                                                                                                            "type": "text",
                                                                                                            "label": "(R)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "18",
                                                                                                            "type": "text",
                                                                                                            "label": "(S)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "19",
                                                                                                            "type": "text",
                                                                                                            "label": "(T)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "20",
                                                                                                            "type": "text",
                                                                                                            "label": "(U)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "21",
                                                                                                            "type": "text",
                                                                                                            "label": "(V)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "22",
                                                                                                            "type": "text",
                                                                                                            "label": "(W)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "23",
                                                                                                            "type": "text",
                                                                                                            "label": "(X)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "24",
                                                                                                            "type": "text",
                                                                                                            "label": "(Y)"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "25",
                                                                                                            "type": "text",
                                                                                                            "label": "(Z)"
                                                                                                        }
                                                                                                    ],
                                                                                                    "type": "collection",
                                                                                                    "label": "Values"
                                                                                                }
                                                                                            ]
                                                                                        },
                                                                                        "insertDataOption": {
                                                                                            "mode": "chose",
                                                                                            "label": "Insert rows"
                                                                                        },
                                                                                        "valueInputOption": {
                                                                                            "mode": "chose",
                                                                                            "label": "User entered"
                                                                                        },
                                                                                        "insertUnformatted": {
                                                                                            "mode": "chose"
                                                                                        }
                                                                                    },
                                                                                    "parameters": {
                                                                                        "__IMTCONN__": {
                                                                                            "data": {
                                                                                                "scoped": "true",
                                                                                                "connection": "google"
                                                                                            },
                                                                                            "label": "My Google connection (tribexagency@gmail.com)"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "__IMTCONN__",
                                                                                        "type": "account:google",
                                                                                        "label": "Connection",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "mode",
                                                                                        "type": "select",
                                                                                        "label": "Search Method",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "select",
                                                                                                "fromAll",
                                                                                                "map"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "insertUnformatted",
                                                                                        "type": "boolean",
                                                                                        "label": "Unformatted",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "valueInputOption",
                                                                                        "type": "select",
                                                                                        "label": "Value input option",
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "USER_ENTERED",
                                                                                                "RAW"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "insertDataOption",
                                                                                        "type": "select",
                                                                                        "label": "Insert data option",
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "INSERT_ROWS",
                                                                                                "OVERWRITE"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "from",
                                                                                        "type": "select",
                                                                                        "label": "Drive",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "drive",
                                                                                                "share",
                                                                                                "team"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "spreadsheetId",
                                                                                        "type": "file",
                                                                                        "label": "Spreadsheet ID",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "sheetId",
                                                                                        "type": "select",
                                                                                        "label": "Sheet Name",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "includesHeaders",
                                                                                        "type": "select",
                                                                                        "label": "Table contains headers",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                true,
                                                                                                false
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "values",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "0",
                                                                                                "type": "text",
                                                                                                "label": "Nombre (A)"
                                                                                            },
                                                                                            {
                                                                                                "name": "1",
                                                                                                "type": "text",
                                                                                                "label": "Correo electrónico (B)"
                                                                                            },
                                                                                            {
                                                                                                "name": "2",
                                                                                                "type": "text",
                                                                                                "label": "Fecha de nacimiento (C)"
                                                                                            },
                                                                                            {
                                                                                                "name": "3",
                                                                                                "type": "text",
                                                                                                "label": "Años de experiencia (D)"
                                                                                            },
                                                                                            {
                                                                                                "name": "4",
                                                                                                "type": "text",
                                                                                                "label": "Dónde estudió (E)"
                                                                                            },
                                                                                            {
                                                                                                "name": "5",
                                                                                                "type": "text",
                                                                                                "label": "Formación (F)"
                                                                                            },
                                                                                            {
                                                                                                "name": "6",
                                                                                                "type": "text",
                                                                                                "label": "Perfil LinkedIn (G)"
                                                                                            },
                                                                                            {
                                                                                                "name": "7",
                                                                                                "type": "text",
                                                                                                "label": "Fecha Llamada (H)"
                                                                                            },
                                                                                            {
                                                                                                "name": "8",
                                                                                                "type": "text",
                                                                                                "label": "(I)"
                                                                                            },
                                                                                            {
                                                                                                "name": "9",
                                                                                                "type": "text",
                                                                                                "label": "(J)"
                                                                                            },
                                                                                            {
                                                                                                "name": "10",
                                                                                                "type": "text",
                                                                                                "label": "(K)"
                                                                                            },
                                                                                            {
                                                                                                "name": "11",
                                                                                                "type": "text",
                                                                                                "label": "(L)"
                                                                                            },
                                                                                            {
                                                                                                "name": "12",
                                                                                                "type": "text",
                                                                                                "label": "(M)"
                                                                                            },
                                                                                            {
                                                                                                "name": "13",
                                                                                                "type": "text",
                                                                                                "label": "(N)"
                                                                                            },
                                                                                            {
                                                                                                "name": "14",
                                                                                                "type": "text",
                                                                                                "label": "(O)"
                                                                                            },
                                                                                            {
                                                                                                "name": "15",
                                                                                                "type": "text",
                                                                                                "label": "(P)"
                                                                                            },
                                                                                            {
                                                                                                "name": "16",
                                                                                                "type": "text",
                                                                                                "label": "(Q)"
                                                                                            },
                                                                                            {
                                                                                                "name": "17",
                                                                                                "type": "text",
                                                                                                "label": "(R)"
                                                                                            },
                                                                                            {
                                                                                                "name": "18",
                                                                                                "type": "text",
                                                                                                "label": "(S)"
                                                                                            },
                                                                                            {
                                                                                                "name": "19",
                                                                                                "type": "text",
                                                                                                "label": "(T)"
                                                                                            },
                                                                                            {
                                                                                                "name": "20",
                                                                                                "type": "text",
                                                                                                "label": "(U)"
                                                                                            },
                                                                                            {
                                                                                                "name": "21",
                                                                                                "type": "text",
                                                                                                "label": "(V)"
                                                                                            },
                                                                                            {
                                                                                                "name": "22",
                                                                                                "type": "text",
                                                                                                "label": "(W)"
                                                                                            },
                                                                                            {
                                                                                                "name": "23",
                                                                                                "type": "text",
                                                                                                "label": "(X)"
                                                                                            },
                                                                                            {
                                                                                                "name": "24",
                                                                                                "type": "text",
                                                                                                "label": "(Y)"
                                                                                            },
                                                                                            {
                                                                                                "name": "25",
                                                                                                "type": "text",
                                                                                                "label": "(Z)"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Values"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 23,
                                                                            "module": "vapi:createOutboundPhoneCall",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "__IMTCONN__": 7197286
                                                                            },
                                                                            "mapper": {
                                                                                "assistantId": "your assistant id",
                                                                                "phoneNumberId": "your phone number id",
                                                                                "customerNumber": "the customer phone number"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 1752,
                                                                                    "y": 638
                                                                                },
                                                                                "restore": {
                                                                                    "parameters": {
                                                                                        "__IMTCONN__": {
                                                                                            "data": {
                                                                                                "scoped": "true",
                                                                                                "connection": "vapi"
                                                                                            },
                                                                                            "label": "My Vapi connection"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "__IMTCONN__",
                                                                                        "type": "account:vapi",
                                                                                        "label": "Connection",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "assistantId",
                                                                                        "type": "text",
                                                                                        "label": "Assistant ID",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "customerNumber",
                                                                                        "type": "text",
                                                                                        "label": "Customer Phone Number",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "phoneNumberId",
                                                                                        "type": "text",
                                                                                        "label": "Phone Number ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 24,
                                                                            "module": "util:SetVariable2",
                                                                            "version": 1,
                                                                            "parameters": {},
                                                                            "mapper": {
                                                                                "name": "assistant",
                                                                                "scope": "roundtrip",
                                                                                "value": "{\n  \"transcriber\": {\n    \"provider\": \"deepgram\",\n    \"language\": \"en\",\n    \"model\": \"nova-2\"\n  },\n  \"model\": {\n    \"provider\": \"openai\",\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"# RoleYou are Max, the experienced and fantastic assistant of the medical technology company of ACQG Enterprises Inc, and your job is to call leads and try got them sent an SMS and email with more info# TaskCall the leads and try to get them sent an SMS and email. Follow this steps:1. Start with the initial message of “Hey there, am I talking to {{1.`1`}}?”2.  If he answers no, then ask when will {{1.`1`}} be able to talk as my boss wants to talk to him and then follow ##Example 4. If he says yes or asks something similar to “who is this” or “who are you”, say “So I am Max, an AI Agent from ACQG Solutions, we are dedicated to guiding healthcare businesses like yours through leveraging AI and tech to optimize processes. Have you been thinking recently about including AI inside your business?”3. If he answers something similar to no just say: “I completely understand you {{1.`1`}}, maybe you are not ready to make the change that other medical companies did and because of that they are having tons of success” and if you get no answer end the call. But if he answers something similar to yes, then say: “I see you are ready to take the big change. Could you define me again what do you want to automate with AI inside your business?”4. Once he has defined it say: “Ok {{1.`1`}}, so I will get in contact with the team to let them know about your situation. Meanwhile is it ok for you if I send you an SMS and email with our website and information?”5. If he says no, then say something similar to no worries, the team will contact you either ways. But if he says yes then inform him that the SMS and email will be sent shortly with the information we have about him6. End the call being grateful and hoping a great day for him. If at any point of the call he asks what is ACQG solutions of something similar answer with this “We are a medical technology company whose mission is to guide businesses like yours through the latest developments in te business world, focusing on AI solutions so that healthcare companies can optimize their processes”, and then follow with the step you were in # Details-This task is crucial for the success of ACQG Enterprises Inc -Remember to use human expressions like “hmmm” or “eeeeh” so that you don’t look like a machine # Context ## The company ACQG is a medical technology company that works in the industry of Medical Diagnostics and Medical Laboratories.  The goal is to provide timely and relevant information to individuals seeking to explore various treatment options, while  ## The system You are part of the lead acquisition system of ACQG Enterprises Inc and your job is to call as much leads as possible to end up sending and SMS and email with information # Examples ## Example 1 Assistant (you): Hey there, am I talking to {{1.`1`}}? User: Yeah that’s me, but who are you? Assistant (you)c So I am Max, an AI Agent from ACQG Solutions, we are dedicated to guiding healthcare businesses like yours through leveraging AI and tech to optimize processes. Have you been thinking recently about including AI inside your business? User: Well yeah, I have been actually Assistant (you): I see you are ready to take the big change. Could you define me again what do you want to automate with AI inside your business? User: So, I want to automate my process of lead acquisition inside cold calling and DM outreach, is that possible? Assistant (you): It certainly will {{1.`1`}}, so I will get in contact with the team to let them know about your situation. Meanwhile is it ok for you if I send you an SMS and email with our website and information? User: yes of course, go ahead Assistant (you): Ok you will get the SMS and email sent shortly, thanks for everything and have a nice day ## Example 2 Assistant (you): Hey there, am I talking to {{1.`1`}}? User: Who is this?  Assistant (you): So I am Max, an AI Agent from ACQG Solutions, we are dedicated to guiding healthcare businesses like yours through leveraging AI and tech to optimize processes. Have you been thinking recently about including AI inside your business? User: No thanks Assistant (you): Ok no problem, I appreciate your time ## Example 3 Assistant (you): Hey there, am I talking to {{1.`1`}}? User: Yes Assistant (you):  So I am Max, an AI Agent from ACQG Solutions, we are dedicated to guiding healthcare businesses like yours through leveraging AI and tech to optimize processes. Have you been thinking recently about including AI inside your business? User: Maybe, what do you guys automate? Assistant (you): We automate all type of processes like lead acquisition, internal processes such as management or cold calling. I see you are ready to take the big change. Could you define me again what do you want to automate with AI inside your business? User: Well I was thinking about my loyalty system with my clients, would that be possible to automate? Assistant (you):  It certainly will {{1.`1`}}, so I will get in contact with the team to let them know about your situation. Meanwhile is it ok for you if I send you an SMS and email with our website and information? User: Nah, no problem Assistant (you): Ok anyways the team will get in contact with you shortly User: Perfect, thanks then Assistant (you): Thank you, have a great day  ## Example 4 Assistant (you): Hey there, am I talking to {{1.`1`}}? User: No Assistant (you): Oh, I see, and do you know when will {{1.`1`}} be able to talk? My boss wants to speak with him about AI automation? User: okay so where are you calling from? Assistant (you): ACQG Enterprises and we wanted to talk with him as we specialize in AI automations for healthcare business. That's all, only a small chat with him User: Ok, will let him know that you have called Assistant (you): Ok thanks for that. But if not, what number or when should I call this number to speak with him? User: Call back on Wednesday afternoon\"\n      }\n    ],\n    \"maxTokens\": 1000,\n    \"temperature\": 0.2\n  },\n  \"voice\": {\n    \"provider\": \"11labs\",\n    \"voiceId\": \"DTKMou8ccj1ZaWGBiotd\",\n    \"language\": \"en\",\n    \"model\": \"eleven_turbo_v2_5\"\n  },\n  \"firstMessage\": \"Hey there, am I talking to {{1.`1`}}?\",\n  \"firstMessageMode\": \"assistant-speaks-first\",\n  \"clientMessages\": [],\n  \"serverMessages\": [\n    \"end-of-call-report\"\n  ],\n  \"name\": \"{{1.answers.`24b2f24d`.textAnswers.answers[].value}}\",\n  \"backgroundSound\": \"off\",\n  \"artifactPlan\": {\n    \"transcriptPlan\": {\n      \"enabled\": true\n    }\n  },\n  \"server\": {\n    \"url\": \"your webhook\"\n  }\n}"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2052,
                                                                                    "y": 638
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "scope": {
                                                                                            "label": "One cycle"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "name",
                                                                                        "type": "text",
                                                                                        "label": "Variable name",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "scope",
                                                                                        "type": "select",
                                                                                        "label": "Variable lifetime",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "roundtrip",
                                                                                                "execution"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Variable value"
                                                                                    }
                                                                                ],
                                                                                "interface": [
                                                                                    {
                                                                                        "name": "assistant",
                                                                                        "type": "any",
                                                                                        "label": "assistant"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 25,
                                                                            "module": "json:ParseJSON",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "type": ""
                                                                            },
                                                                            "mapper": {
                                                                                "json": "[{{24.assistant}}]"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2352,
                                                                                    "y": 638
                                                                                },
                                                                                "restore": {
                                                                                    "parameters": {
                                                                                        "type": {
                                                                                            "label": "Choose a data structure"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "udt",
                                                                                        "label": "Data structure"
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "json",
                                                                                        "type": "text",
                                                                                        "label": "JSON string",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 26,
                                                                            "module": "builtin:BasicAggregator",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "feeder": 25
                                                                            },
                                                                            "mapper": {
                                                                                "name": "{{25.name}}",
                                                                                "model": "{{25.model}}",
                                                                                "voice": "{{25.voice}}",
                                                                                "server": "{{25.server}}",
                                                                                "transcriber": "{{25.transcriber}}",
                                                                                "artifactPlan": "{{25.artifactPlan}}",
                                                                                "firstMessage": "{{25.firstMessage}}",
                                                                                "clientMessages": "{{25.clientMessages}}",
                                                                                "serverMessages": "{{25.serverMessages}}",
                                                                                "backgroundSound": "{{25.backgroundSound}}",
                                                                                "firstMessageMode": "{{25.firstMessageMode}}"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2652,
                                                                                    "y": 638
                                                                                },
                                                                                "restore": {
                                                                                    "extra": {
                                                                                        "feeder": {
                                                                                            "label": "JSON - Parse JSON [25]"
                                                                                        },
                                                                                        "target": {
                                                                                            "label": "Custom"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 27,
                                                                            "module": "json:TransformToJSON",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "space": ""
                                                                            },
                                                                            "mapper": {
                                                                                "object": "{{first(26.array)}}"
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2952,
                                                                                    "y": 638
                                                                                },
                                                                                "restore": {
                                                                                    "parameters": {
                                                                                        "space": {
                                                                                            "label": "Empty"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "space",
                                                                                        "type": "select",
                                                                                        "label": "Indentation",
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "tab",
                                                                                                "2",
                                                                                                "4"
                                                                                            ]
                                                                                        }
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "object",
                                                                                        "type": "any",
                                                                                        "label": "Object"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 28,
                                                                            "module": "http:ActionSendData",
                                                                            "version": 3,
                                                                            "parameters": {
                                                                                "handleErrors": true,
                                                                                "useNewZLibDeCompress": true
                                                                            },
                                                                            "mapper": {
                                                                                "ca": "",
                                                                                "qs": [],
                                                                                "url": "https://api.vapi.ai/call",
                                                                                "data": "{\n  \"customer\": {\n    \"number\": \"+1{{1.`3`}}\",\n    \"extension\": \"\",\n    \"name\": \"{{1.`0`}}\"\n  },\n  \"phoneNumberId\": \"YOUR PHONE NUMBER ID\",\n  \"assistant\": {{27.json}},\n  \"name\": \"{{1.`1`}} {{1.`2`}}\"\n}",
                                                                                "gzip": true,
                                                                                "method": "post",
                                                                                "headers": [
                                                                                    {
                                                                                        "name": "Authorization",
                                                                                        "value": "Bearer API_KEY"
                                                                                    },
                                                                                    {
                                                                                        "name": "Content-Type",
                                                                                        "value": "application/json"
                                                                                    }
                                                                                ],
                                                                                "timeout": "",
                                                                                "useMtls": false,
                                                                                "authPass": "",
                                                                                "authUser": "",
                                                                                "bodyType": "raw",
                                                                                "contentType": "application/json",
                                                                                "serializeUrl": false,
                                                                                "shareCookies": false,
                                                                                "parseResponse": false,
                                                                                "followRedirect": true,
                                                                                "useQuerystring": false,
                                                                                "followAllRedirects": false,
                                                                                "rejectUnauthorized": true
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3273,
                                                                                    "y": 610
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "qs": {
                                                                                            "mode": "chose"
                                                                                        },
                                                                                        "method": {
                                                                                            "mode": "chose",
                                                                                            "label": "POST"
                                                                                        },
                                                                                        "headers": {
                                                                                            "mode": "chose",
                                                                                            "items": [
                                                                                                null,
                                                                                                null
                                                                                            ]
                                                                                        },
                                                                                        "bodyType": {
                                                                                            "label": "Raw"
                                                                                        },
                                                                                        "contentType": {
                                                                                            "label": "JSON (application/json)"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "handleErrors",
                                                                                        "type": "boolean",
                                                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "useNewZLibDeCompress",
                                                                                        "type": "hidden"
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "serializeUrl",
                                                                                        "type": "boolean",
                                                                                        "label": "Serialize URL",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "method",
                                                                                        "type": "select",
                                                                                        "label": "Method",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "get",
                                                                                                "head",
                                                                                                "post",
                                                                                                "put",
                                                                                                "patch",
                                                                                                "delete",
                                                                                                "options"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "headers",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Name",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "value",
                                                                                                "type": "text",
                                                                                                "label": "Value"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Headers"
                                                                                    },
                                                                                    {
                                                                                        "name": "qs",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Name",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "value",
                                                                                                "type": "text",
                                                                                                "label": "Value"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Query String"
                                                                                    },
                                                                                    {
                                                                                        "name": "bodyType",
                                                                                        "type": "select",
                                                                                        "label": "Body type",
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "raw",
                                                                                                "x_www_form_urlencoded",
                                                                                                "multipart_form_data"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "parseResponse",
                                                                                        "type": "boolean",
                                                                                        "label": "Parse response",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "authUser",
                                                                                        "type": "text",
                                                                                        "label": "User name"
                                                                                    },
                                                                                    {
                                                                                        "name": "authPass",
                                                                                        "type": "password",
                                                                                        "label": "Password"
                                                                                    },
                                                                                    {
                                                                                        "name": "timeout",
                                                                                        "type": "uinteger",
                                                                                        "label": "Timeout",
                                                                                        "validate": {
                                                                                            "max": 300,
                                                                                            "min": 1
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "shareCookies",
                                                                                        "type": "boolean",
                                                                                        "label": "Share cookies with other HTTP modules",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "ca",
                                                                                        "type": "cert",
                                                                                        "label": "Self-signed certificate"
                                                                                    },
                                                                                    {
                                                                                        "name": "rejectUnauthorized",
                                                                                        "type": "boolean",
                                                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "followRedirect",
                                                                                        "type": "boolean",
                                                                                        "label": "Follow redirect",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "useQuerystring",
                                                                                        "type": "boolean",
                                                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "gzip",
                                                                                        "type": "boolean",
                                                                                        "label": "Request compressed content",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "useMtls",
                                                                                        "type": "boolean",
                                                                                        "label": "Use Mutual TLS",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "contentType",
                                                                                        "type": "select",
                                                                                        "label": "Content type",
                                                                                        "validate": {
                                                                                            "enum": [
                                                                                                "text/plain",
                                                                                                "application/json",
                                                                                                "application/xml",
                                                                                                "text/xml",
                                                                                                "text/html",
                                                                                                "custom"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Request content"
                                                                                    },
                                                                                    {
                                                                                        "name": "followAllRedirects",
                                                                                        "type": "boolean",
                                                                                        "label": "Follow all redirect",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}